[2018-12-17 15:38] michael-k-taylor opened #1 "Cannot create resource from relationship tab"
I have a basic hasMany relationship attached to one of my models when I select create resource, I get a 404 error on the network tab.

Soon as I remove your tabbed field, it works fine.

Plugin awesome apart from that.

`
{
    "message": "",
    "exception": "Symfony\\Component\\HttpKernel\\Exception\\NotFoundHttpException",
    "file": "/var/www/nova/public/vendor/laravel/framework/src/Illuminat

[2018-12-17 16:03] michael-k-taylor commented on #1
I found a tmp fix

If you put the same hasMany but without the tabs like:

`
HasMany::make('WebsiteProject', 'website_projects')->onlyOnIndex(),
`

it works fine, looks like nova internals look for the standard hasMany field

[2018-12-18 17:13] ahmedkandel opened #2 "MorphToMany Relationship"
For MorphToMany Relationship the Tab changes "Attache Resource" button to "Create Resource" then when click create it gives error as explain in #1

[2018-12-19 16:09] bajramemini commented on #1
Hey @michael-k-taylor

Thanks for pointing this out.

I found the error:

If you check `nova-api/{resource}/field/{field}`

[code]

It is looking for the field. But since it is not in the `fields` but in a Tab, it throws an error. Will try to fix this asap and keep you updated.

[2018-12-20 00:35] #1 closed

[2018-12-20 00:40] bajramemini commented on #2
Hello @ahmedkandel

Thanks for pointing this out.

#1 is fixed now. So the "Create" Button should work now. Not sure why it changes "Attach Resource" to "Create Resource".

Will try to solve it tomorrow and let you know what I came up with.

Regards,
Bajram

[2018-12-20 00:42] bajramemini commented on #1
Ok managed to fix it for now.

Let me know if you have any other problems with this package.

Regards,
Bajram

[2018-12-20 10:13] michael-k-taylor commented on #1
Thanks, works great cheers. Great package.

[2018-12-21 08:00] #2 closed

[2018-12-23 11:24] ppisecky opened #3 "Resource detail toolbar disappears when all fields are inside tabs"
When you put all fields into tabs and navigate to the resource detail, then the toolbar doesn't get displayed. i.e. the actions button, edit button and delete buttons are not present. At least one field must be outside of tabs. Also that field cannot be inside a panel either as that also doesn't make the buttons display.

![tabs](https://user-images.githubusercontent.com/10659431/50383109-76938900

[2018-12-25 11:55] ahmedkandel commented on #2
Thanks @bajramemini

[2018-12-26 05:11] dillingham opened #4 "Possible UI Option"
Nice package, discussions were had here https://github.com/tightenco/nova-package-development/issues/54

Just wanted to drop this layout here incase it's something you'd consider

![option](https://user-images.githubusercontent.com/29180903/50432879-b96a8200-08a2-11e9-947f-994b71df0ef0.png)

[2018-12-26 14:36] #3 closed

[2018-12-26 14:46] bajramemini commented on #3
Hello @ppisecky

Thanks for the Issue. Never used the Tabs without any default Nova Panel.

### Tabs Panel with Toolbar

If you are only using a TabsPanel without another default Panel, you can set the third argument `showToolbar` to `true`.

![image](https://user-images.githubusercontent.com/3426944/50448780-608efe00-0923-11e9-9d55-3dc3d8d896e1.png)

[code]

Let me know if you need any further he

[2018-12-26 15:34] bajramemini commented on #4
Hello @dillingham

Thank you for your suggestion.

![image](https://user-images.githubusercontent.com/3426944/50450016-57a22a80-092b-11e9-9c13-91283ea3bbff.png)

This is what I came up with until now. However, I am not sure if it should be in this package. On one hand, it doesn't really matter, if it's Tabs or a Select. On the other hand, this is supposed to be a `nova-tabs` package. At the same t

[2018-12-26 15:54] dillingham commented on #4
Hello @bajramemini,
Wow that was fast :) You're right in that it is similar but possibly warrants it's own package.
What do you think about having the dropdown as apart of the section title?

![dropdown](https://user-images.githubusercontent.com/29180903/50450470-4f7ec680-08fc-11e9-8ecb-a01f1d3bc8f3.png)

Sidenote: would be a performance boost if each tab requested it's data on display

[2018-12-26 16:00] bajramemini commented on #4
Hello @dillingham

Yeah, I think you're right. It should be its own package. I am going to extract it to its own package.

I think a dropdown arrow is nice, maybe this can be optional.

And yes, loading the component on display would be a performance boost. I think, if you have 3 or 4 Tabs, it's ok to load everything up front. But if you have a lot of Relations, that's definitely going to be an is

[2018-12-26 16:05] dillingham commented on #4
Hello @bajramemini,

That is wonderful, look forward to using it myself.

With the dropdown arrow it may remove the need for a white background on the toolbar.
![no-background](https://user-images.githubusercontent.com/29180903/50450783-0af42a80-08fe-11e9-8d41-4b658b1c1f83.png)

Agreed, 3-4 tabs is no problem. I think if this package had the request on tab selection it could very well be the prefe

[2018-12-26 18:14] dillingham commented on #4
Another option, further reduced. Kind of my favorite :)

![cleaner](https://user-images.githubusercontent.com/29180903/50453643-1f412300-0910-11e9-80e2-b51cdde3b17c.png)

[2018-12-27 10:15] bajramemini commented on #4
Hello @dillingham

Here you go:
https://github.com/eminiarts/nova-relationship-selector

Will close this issue.

If you have further questions, let me know.

Regards,
Bajram

[2018-12-27 10:15] #4 closed

[2018-12-27 14:36] dillingham commented on #4
@bajramemini you are awesome!

[2019-01-02 16:33] simonfunk opened #5 "keep tabs on edit view"
Hi

Thanks for your work!

Can you make that the tabs keep displaying on edit view? Now it's beautiful tabbed on detail view but on edit, it's all listed.

Would be great!

[2019-01-03 15:23] cliffordjames opened #6 "BelongsToMany causes "Trying to get property 'resourceClass' of non-object""
[code]

Causes "Trying to get property 'resourceClass' of non-object" exception when trying to attach a Ssl Certificate, but when I move the BelongsToMany outside of the Tab everything works:

[code]

[2019-01-05 08:14] avs262 commented on #6
+1

[2019-01-06 21:32] bajramemini commented on #6
Thanks for the issue.

Will have a look at it tomorrow.

Regards

[2019-01-07 20:30] authanram commented on #6
I can confirm this.

[code]

Trying to get property of non-object {"userId":1,"email":"***","exception":"[object] (ErrorException(code: 0): Trying to get property of non-object at vendor/laravel/nova/src/Http/Controllers/AttachableController.php:23)

Line vendor/laravel/nova/src/Http/Controllers/AttachableController.php:22-24
[code]

[2019-01-08 15:33] bajramemini commented on #6
This is very strange. I am using it in one application and everything works fine.

On another, it doesn't work as expected, but it doesn't fail either.

It should be "attach" Role instead of "create".

![image](https://user-images.githubusercontent.com/3426944/50840519-fcc4f600-1362-11e9-9d71-7c14b8896b58.png)

@authanram, @avs262  or @cliffordjames could you provide me with a Model, Migration and

[2019-01-08 16:01] bajramemini commented on #6
Ok, found an error when having SoftDeletes and visiting `nova-api/{resource}/{resource_id}/attachable/{field}?search=&withTrashed=false`.

Will try to solve it asap.

[2019-01-08 16:08] authanram commented on #6
I just read the notification mail from github and realized i forgot to say, the issue happens on the action to attach another model. sorry for that. hope you haven't spent that much time.

[2019-01-08 18:41] #6 closed

[2019-01-08 18:54] bajramemini commented on #6
Ok, I managed to fix it.

Make sure to use the `AvailableTabFields` Trait in your Nova Resource.

[code]

Since Nova is asking for the Fields in different parts of each application, I rewrote some logic so Nova could find each Field, independent whether it is in Tabs or not.

- Added Trait to Support available Fields within Tabs
- Removed the Controller and App Binding
- [Tagged new Release](https

[2019-01-08 20:05] JapSeyz opened #7 "Mix fields with relations"
Hey,

I can't figure out out to create a tab-panel with tabs for both regular fields and relations, eg:

| Details | Meta | Cars (Relation) | Driver ( Relation |

I can create one panel via new TabsPanel with regular fields, and relationships via Tabs::make, but if I try to add one to the either, it fails.

Is there a smart way to add the relationship tabs to the TabsPanel?

Cheers,

[2019-01-08 20:07] bajramemini commented on #7
Hello @JapSeyz

This is not possible yet. I didn't need a mixed Tab and Fields yet but this is definitely something I'd like to implement.

Will have to think about how to implement it but I'll let you know when I have a solution.

Regards,

[2019-01-08 20:09] JapSeyz commented on #7
I'll see if I can get a PR made for it

[2019-01-08 22:51] JapSeyz commented on #7
I have a working copy now, but it requires a little bit of a hack, because of the way Laravel handles Panels

[2019-01-09 01:41] JapSeyz commented on #7
Couldn't come up with a good solution.

Nova does a lot of mumbo-jumbo with the panels:

1) All fields must have a panel, if the panel attribute is undefined, the JS crashes.
2) If Nova sees a relationship inside a panel, it takes it out and displays it as its own panel.
3) Nova doesn't guarantee the order of the panels - I created a hidden panel where Nova could put fields it duplicated from Tabs

[2019-01-09 06:49] cliffordjames commented on #6
@bajramemini Works! Thanks!

[2019-01-09 21:45] JapSeyz commented on #5
For ideas on how to achieve it, the other Nova Tabs package has achieved it:
https://github.com/arsenaltech/nova-tab

I'll have a go at it in the weekend, if I get the time.

[2019-01-10 16:09] bajramemini commented on #7
Some crazy stuff going on in Nova, haha.

I managed to get the Tabs working like this:

![image](https://user-images.githubusercontent.com/3426944/50980965-2a907300-14fa-11e9-944a-1909b82e4786.png)

However, I don't like that it is a "Field" and not a Panel. I didn't find a good way to show the default toolbar or actions/buttons.

I tried it with a custom Panel component but it ended up ugly and b

[2019-01-10 21:12] bajramemini commented on #7
Hello @JapSeyz

Finally, I got it working.

![image](https://user-images.githubusercontent.com/3426944/50997426-cfc04100-1524-11e9-9f66-7a2bd626ffaf.png)

With this markup, it is possible to wrap tabs and show the toolbar:

[code]

If you don't need the Toolbar and want to combine Fields with Relation, you can use:
[code]

It is not tagged yet.

Somehow, it combines more than needed.

![image](htt

[2019-01-10 22:22] JapSeyz commented on #7
Sweet! It looks promising

[2019-01-13 19:52] bajramemini commented on #7
Tagged as [0.3.0](https://github.com/eminiarts/nova-tabs/releases/tag/0.3.0)

Let me know if you have further issues.

[2019-01-13 23:04] JapSeyz commented on #7
@bajramemini There's a small issue with it in ResolvesFields, since it no longer respects ->hideFromDetail(), as the $field in the call resolves to the Tab, ignoring every field inside of the Tab

[2019-01-14 06:40] bajramemini commented on #7
Ok thanks. Will solve it asap.

[2019-01-14 15:33] michael-k-taylor commented on #1
This is now occuring again with the latest update

[2019-01-14 23:18] JapSeyz commented on #7
Found another issue, not sure why this happens, the only difference I can find is that it works in Car.php but not CarSeat.php, so the compound name, otherwise the two files are identical.

![annotation 2019-01-15 001543](https://user-images.githubusercontent.com/2234034/51147536-d61f2780-185a-11e9-9efc-0ee2b9397dcd.jpg)

TabsPanel has undefined group names, which results in:

[code]

The code for

[2019-01-15 08:58] bajramemini opened #8 "TabsPanel has undefined groups"
Found another issue, not sure why this happens, the only difference I can find is that it works in Car.php but not CarSeat.php, so the compound name, otherwise the two files are identical.

![annotation 2019-01-15 001543](https://user-images.githubusercontent.com/2234034/51147536-d61f2780-185a-11e9-9efc-0ee2b9397dcd.jpg)

TabsPanel has undefined group names, which results in:

[code]

The code for

[2019-01-15 08:59] bajramemini opened #9 "ResolvesFields ->hideFromDetail() not working"
@bajramemini There's a small issue with it in ResolvesFields, since it no longer respects ->hideFromDetail(), as the $field in the call resolves to the Tab, ignoring every field inside of the Tab

_Originally posted by @JapSeyz in https://github.com/eminiarts/nova-tabs/issues/7#issuecomment-453874111_

[2019-01-15 09:00] bajramemini commented on #7
Opened two separate issues. Worked on the first one yesterday, but I am still not finish yet. Will keep you updated on the issues.

Going to close this one.

[2019-01-15 09:00] #7 closed

[2019-01-15 14:22] #8 closed

[2019-01-15 14:22] #9 closed

[2019-01-15 19:43] vernard opened #10 "Changes on 0.3.1 broke functionality"
Hi,

Upon updating your package today, my tab content became hidden.

I fixed it by changing my `composer.json` and going back to version `0.3.0`.

[2019-01-15 21:08] bajramemini commented on #10
Hello @vernard

Could you show me your fields array? So that I can reproduce the error.

Regards

[2019-01-17 19:49] planetbomba commented on #10
Same here I had to downgrade to 0.3.0

[2019-01-18 08:05] bajramemini commented on #10
Hey @planetbomba

Could you show me your Fields Array? So I can try to reproduce the error?

[2019-01-18 08:33] bajramemini commented on #10
Tagged [0.3.2](https://github.com/eminiarts/nova-tabs/releases/tag/0.3.2).

Should be fixed now.

Regards

[2019-01-18 14:06] dkulyk opened #11 "Access to view does not check."
If I have tab with relation which denied by policy page will shown 403.

Need to filter denied fields in tab and hide empty tabs.

[2019-01-19 00:51] JapSeyz opened #12 "Two fields with the same name results in "<detail-undefined>""
Hey.

I have these two fields:

[code]

Because the Form location and the detail location for the country is different - However it seems to clash and just default to Undefined in the JS.

[2019-01-19 00:56] JapSeyz commented on #12
Experiencing the same then when having a single field with 3 modifiers:

[code]

This also results in the detail-undefined.

[2019-01-19 09:50] #11 closed

[2019-01-19 10:06] bajramemini commented on #11
Hello @dkulyk

Did you fix the issue? Or do you still have a problem with it?

[2019-01-20 10:41] bajramemini commented on #12
Hello @JapSeyz

I am not able to reproduce this error.

When I do:

[code]

It works fine.

Could you show me your whole fields function?

[2019-01-20 15:54] JapSeyz commented on #12
Hi @bajramemini I originally thought it was two fields with the same name, but it seems to happen to every field that I hide from the detail view, and then visiting the detail view.

The entire fields array looks like:

[code]

[code]

[2019-01-21 14:33] PhilippeDirx commented on #5
Any update on this?
Would be really nice to have!

[2019-01-21 14:54] bajramemini commented on #12
Ok thanks @JapSeyz

Will have a look at it later and keep you updated.

[2019-01-21 15:08] dkulyk commented on #12
Why need to add Tabs in TabsPanel?

[2019-01-22 06:16] bajramemini commented on #12
@dkulyk

You can now combine Fields and Relations in Tabs. [It's in the readme.](https://github.com/eminiarts/nova-tabs#combine-fields-and-relations-in-tabs).

That's why he is using Tabs in a TabsPanel.

[2019-01-26 12:59] Simon-Edelmann opened #13 "Multiple relation tabs including filters result in error"
Hi,
I've just found your package. Great work!

It seems that there is a problem with filters, when I have two tabs with different relations:
[code]
My Nova resource 'Application' has a filter, 'Instrument' does not have one. After loading the TabsPanel I get this error. Also the filter button is not displayed.
<img width="578" alt="bildschirmfoto 2019-01-26 um 13 16 08" src="https://user-images.gi

[2019-01-26 14:59] dkulyk commented on #13
What is Nova version?

[2019-01-26 17:45] #5 closed

[2019-01-26 17:50] bajramemini commented on #13
Should be fixed in [1.0.0](https://github.com/eminiarts/nova-tabs/releases/tag/1.0.0)

Let me know if you have further issues.

[2019-01-26 17:50] #13 closed

[2019-01-26 17:51] bajramemini commented on #12
Should be fixed in [1.0.0](https://github.com/eminiarts/nova-tabs/releases/tag/1.0.0)

Let me know if you have further issues.

[2019-01-26 17:51] #12 closed

[2019-01-26 18:07] Simon-Edelmann commented on #13
Thanks, it's working now!
@bajramemini @dkulyk Great work!

[2019-01-27 10:00] simonfunk commented on #5
Thanks you very much!!

[2019-01-27 11:10] simonfunk opened #14 "Separate fields outside and inside tabs on update view"
Hi, me again :)

Thanks for the amazing work on https://github.com/eminiarts/nova-tabs/commit/d678a7f90f5bd99fba8c6a282ac4c6596c8f886d

I just have a little enhanced me here as well. On detail view, i can have fields outside the tabs, those shows me for instance on top of the panel. but on update, it collect it to the tabs and put it in an empty register.

It would be awesome when it would be sepa

[2019-01-27 12:00] bajramemini commented on #14
Hello @simonfunk

Thanks for the suggestion. Will implement it when I got time this week! 👍

[2019-01-28 18:52] tanthammar opened #15 "Please add overflow-x-auto and search field overlapping."
Great work!!
Could you please add overflow-x-auto.
For wide tabs on tablets and smaller devices it is impossible to reach tabs that grows out of the view.
Also the search field overlaps the tab titles,
(don't have a suggestion for how to solve that at the moment :)
[code]

<img width="889" alt="small screen adjustments" src="https://user-images.githubusercontent.com/21239634/51858796-d7aa1e80-2335

[2019-01-30 22:56] brunogaspar opened #16 "Bug with Filters and little results"
Hey

This is 2 reports in 1, since they are connected.

![screen shot on 2019-01-30 at 22-52-41](https://user-images.githubusercontent.com/2285372/52018296-d3226900-24e1-11e9-82d8-f47aa4072501.png)

1. As you can see from the screen above, if i have one result the filters get's cut out and i need to scroll that list but while that might work, the last filter is almost unreachable.

2. Another prob

[2019-01-31 10:42] #15 closed

[2019-01-31 10:43] bajramemini commented on #15
Hello @tanthammar

I will try to fix the other issues and then tag a new version.

This is how it will look:
![image](https://user-images.githubusercontent.com/3426944/52049174-69d83f80-254d-11e9-8f52-530823e03637.png)

![image](https://user-images.githubusercontent.com/3426944/52049185-7066b700-254d-11e9-8706-5bc54ff1109a.png)

Regards
Bajram

[2019-01-31 22:11] JapSeyz opened #17 "Actionbar missing on details screen"
When viewing a resource, the action-menu to edit/delete the resource is gone when using only tabs.

[2019-02-01 13:45] ppisecky commented on #17
Doesn't this get resolved by calling `->withToolbar()`?

[code]

[2019-02-02 11:42] satoved opened #18 "BelongsTo field is not populated from relation with TabsOnEdit trait"
I have a BelongsTo field on a model and trying to create it from related parent.

[code]

It is populated by relation model and disabled.

![image](https://user-images.githubusercontent.com/14319239/52163794-92656280-2722-11e9-94c1-a7dc62f6884d.png)

But if I add
[code]

To a model, it becomes not populated by relation.

![image](https://user-images.githubusercontent.com/14319239/52163806-a90bb980

[2019-02-03 13:14] bajramemini commented on #17
@ppisecky thanks for pointing that out.

@JapSeyz did you use `->withToolbar()` ?

[2019-02-03 13:14] #17 closed

[2019-02-03 17:44] #18 closed

[2019-02-03 18:08] #14 closed

[2019-02-03 18:08] bajramemini commented on #14
Hello @simonfunk

![image](https://user-images.githubusercontent.com/3426944/52180482-13862d80-27e7-11e9-9193-58c5801322b0.png)

This is how it will look. Will tag it shortly.

Regards

[2019-02-03 19:41] #16 closed

[2019-02-03 19:43] bajramemini commented on #16
Hey @brunogaspar

How are you?

Removed the overflow (not sure why @enesemini designed it that way) on the relationship-panel.

Should look like this now:

![image](https://user-images.githubusercontent.com/3426944/52181631-366b0e80-27f4-11e9-8697-36959f49849a.png)

Will tag it shortly. Reopen the issue if there is still a problem.

Regards

[2019-02-04 01:05] brunogaspar commented on #16
Hey @bajramemini

Just checked, looks way better, thanks a lot :)

Cheers!

[2019-02-04 14:36] bajramemini opened #19 "Resource Filter disappears after visiting Actions"
Not sure why this happens.

I have a Client Resource with a relationship and actions:

![image](https://user-images.githubusercontent.com/3426944/52214572-39b4d780-2892-11e9-81ba-82c89bdf5629.png)

But when I visit Invoices (everything works fine) and then Actions, the Filter on Invoices disappear, even though I only hide the fields.

![image](https://user-images.githubusercontent.com/3426944/5221

[2019-02-08 18:19] ralbeary opened #20 "Tabs not working with custom resource tools"
I have a working resource tool but when i setup the tabs, the resource tool title aperas as the tab title and nothing inside.

Code in the resource:
[code]
Capture of the tab:

![screen shot 2019-02-08 at 18 16 37](https://user-images.githubusercontent.com/44970830/52497341-c1ba1a80-2bcd-11e9-8d30-55a3945377ed.png)

Error in the chrome console:
[code]

[2019-02-08 19:38] bajramemini commented on #20
Hello @ralbeary

Seems like it has nothing to do with the Tabs package but rather the Nova User Permissions. Is there a `<detail-nova-user-permissions \>` component? Which package are you using?

If I know which package you are using, I could try to reproduce the error.

[2019-02-11 09:38] ralbeary commented on #20
Hi @bajramemini , that `<detail-nova-user-permissions \>` component is a custom one i made without any special feature. I made it with the `nova:resource-tool` cli helper.

If i remove all the lines related to the tabs, all the fields, even the custom component, is showed correctly.

![screen shot 2019-02-11 at 09 31 58](https://user-images.githubusercontent.com/44970830/52555012-775cb780-2de0-11e

[2019-02-12 13:27] bajramemini commented on #20
@ralbeary

Did you create it as a Tool or as a Field?

Fields usually follow the convention "detail-component-name" and "form-component-name"...

That's why it is looking for `<detail-nova-user-permissions>`

If it is your own tool, would you mind registering it correctly:

[code]

[2019-02-12 13:59] dkulyk commented on #20
@bajramemini https://github.com/dkulyk/nova-tabs/commit/589cfd88a3ce0ac95019e145f05b50e6618d946d
Allows use resource tools.

[2019-02-12 14:02] bajramemini commented on #20
thanks @dkulyk going to merge that in here too! Much appreciated, thanks!

[2019-02-12 18:57] #20 closed

[2019-02-14 08:54] simonfunk commented on #14
Genius!! Thanks you very much for your work!

[2019-02-21 11:36] chatzisnik opened #21 "Jump to the right tab when a field is required."
Hi,

Whenever you fill all the required fields in a tab, but another tab has a required field that is not filled, there is no indication of why nothing is happening upon clicking the 'Create {model}' button. From an end user perspective this can be rather frustrating.

Sample video demonstrating the behaviour:
[No indication of missing required fields upon creating](http://support-media.muckypuddl

[2019-02-24 06:10] Giactan opened #22 "CSS error on Relationship"
Buttom Border not display correctly in Relationships
![screen shot 2019-02-24 at 1 08 06 pm](https://user-images.githubusercontent.com/31847606/53295789-83f7fb80-3835-11e9-8103-a28d044290e6.png)
Code:
![screen shot 2019-02-24 at 1 10 24 pm](https://user-images.githubusercontent.com/31847606/53295792-92461780-3835-11e9-9c6b-a9ae82a5e77c.png)

[2019-02-24 16:20] XternalSoft commented on #22
Maybe same issue but with tab that contains relationship

Tab with BelongsTo :
![capture d ecran de 2019-02-24 17-18-40](https://user-images.githubusercontent.com/1142472/53301893-625c3b80-3858-11e9-8792-862f6f2e469f.png)

![capture d ecran de 2019-02-24 17-19-35](https://user-images.githubusercontent.com/1142472/53301894-65572c00-3858-11e9-91a4-5fd69e889cea.png)

Correct tab (at right) :
![captur

[2019-03-04 04:32] bolechen opened #23 "Code fields not auto display in Tabs"
- Nova Version: 1.3.1
- Laravel Version: 5.6.39

** Step to reproduce **
[code]
When I change to tab Two, the Json code field is empty, but when i click to focus, the content is back.

**Screenshots**
![image](https://user-images.githubusercontent.com/195015/53710340-add5a180-3e77-11e9-9a4b-29cd58f276ab.png)
<img width="1538" alt="wx20190304-121728 2x" src="https://user-images.githubusercontent.co

[2019-03-04 04:34] bolechen commented on #23
This is the screencast in gif
![untitled](https://user-images.githubusercontent.com/195015/53710773-ccd53300-3e79-11e9-8100-ab6c279125d6.gif)

[2019-03-08 23:45] flxsource opened #24 "Mixing fields with relations not working"
Nova Tabs: 1.0.4
Nova: 1.3.1
Laravel: 5.7.7

Mixing fields and relations in a single tab (as mentioned in #7 ) appears to no longer work since 1.0.

Using the documented syntax breaks the relation into their own tab regardless of what else is in the defined tab, and using the `addTab` syntax detailed in #7 results in a `Only listable fields or Panel allowed.` error.

[2019-03-14 01:07] iiDestiny opened #25 "Markdown field bug"
![image](https://user-images.githubusercontent.com/17637481/54324375-782f7600-4638-11e9-8b28-d6423e4cbef0.png)

When I used the "Markdown Field", I found that there was no content in the details.

[2019-03-14 01:07] iiDestiny opened #26 "Markdown field bug"
![image](https://user-images.githubusercontent.com/17637481/54324375-782f7600-4638-11e9-8b28-d6423e4cbef0.png)

When I used the "Markdown Field", I found that there was no content in the details.

[2019-03-14 01:10] iiDestiny commented on #26
The Markdown writing format is:

「# xxxxxx」

[2019-03-14 01:13] iiDestiny commented on #26
I use

- Laravel 5.8
- Nova 2.0
- nova-tabs ^1.0

[2019-03-14 01:13] iiDestiny commented on #26
I use

- Laravel 5.8
- Nova 2.0
- nova-tabs ^1.0

[2019-03-14 01:19] #25 closed

[2019-03-14 01:24] iiDestiny opened #27 "How to maintain tab"
## Version Information
- laravel 5.8
- Nova 2.0

## problem

When I set up multiple tabs, how can I maintain this tab after the success of "relation create"?

![image](https://user-images.githubusercontent.com/17637481/54324963-ea08bf00-463a-11e9-901d-2c814245b8eb.png)

thanks

[2019-03-16 00:27] AliNetmatter opened #28 "Can't delete images if using Tabs in a resource with TabsOnEdit"
When trying to delete an image the URL the delete call is made to does not include the correct resource id.

As an example, the call is made to
`/nova-api/products/undefined/field/image`
where `undefined` should be replaced with the resource ID.

[2019-03-25 08:28] #21 closed

[2019-03-25 08:30] bajramemini commented on #21
Hello @chatzisnik

Thanks for your message.

Not sure if I want to "jump around" to another tab. But surely we need something like this:

![image](https://user-images.githubusercontent.com/3426944/54905108-860ab400-4ee0-11e9-9067-018c7169da8c.png)

I hope this helps for now.

Regards

[2019-03-25 08:46] bajramemini commented on #21
Nevermind, it makes more sense to jump to the tab with the errors.

Thanks 👍

[2019-03-25 09:39] chatzisnik commented on #21
@bajramemini Thanks for having a look on this! To be honest, any UX update that will present a visual clue to the end user would work. Jumping was just how I would approach it. Thanks again!

[2019-03-29 17:17] patricktsg opened #30 "Default search needs more bottom padding"
It's fine on smaller screens but full iwdth on 23" monitor looks cut off when focused on search input. Also - the background could be light grey to make the search stand out a little.

If it's possible to change in the package could you point me to where and I will fork it

![Screen Shot 2019-03-29 at 17 13 46](https://user-images.githubusercontent.com/16956839/55250623-87244400-5246-11e9-8c9e-9a4

[2019-04-04 23:06] d8vjork opened #31 "mergeWhen doesn't work with relations tabs"
Using `$this->mergeWhen($condition, $value)` when condition is false is returning a new instance of _Illuminate\Http\Resources\MissingValue_ and that's when Tabs is failing returning this error:

[code]

I guess, we should check the type of the fields returning on each tab content (or relations)

[2019-04-04 23:41] d8vjork commented on #31
Seems to be solved with `Field->canSee(...)` (also this is a problem related with Nova's Panel which is reused on Tab)

[2019-04-04 23:41] #31 closed

[2019-04-05 14:46] devfrey opened #32 "License concerns"
Hello,

I noticed this package has code from [dkulyk/nova-tabs](https://github.com/dkulyk/nova-tabs). I have some concerns regarding the license. Perhaps it should also be more prominently visible that this package was sort of built on top of [@dkulyk's](https://github.com/dkulyk) implementation.

What are your thoughts?

[2019-04-05 15:28] enesemini commented on #32
Hello Jeffrey,

As you can clearly see in the initial commit by Inkyvisitor, he mentions, that it is a fork from eminiarts/nova-tabs.

https://github.com/dkulyk/nova-tabs/commit/cc4e584e990654f90c19a73d97808a4c82fc1bff#diff-04c6e90faac2675aa89e2176d2eec7d8R3

Have a nice day.

[2019-04-05 15:28] #32 closed

[2019-04-16 16:48] dillingham opened #33 "Responsive"
Any chance of a dropdown on mobile?

Im using the responsive theme
https://novapackages.com/packages/gregoriohc/laravel-nova-theme-responsive

and the tabs arent really usable

[2019-04-23 08:07] HenriqueSPin commented on #27
Need this too.

[2019-04-25 11:28] lvdhoorn opened #35 "Edit tab and form validation"
When you use the edittab option and the form validation fails it would be nice that you can see that there is an error on a field inside a tab.

[2019-04-25 20:54] SvanThuijl opened #36 "Tabs in pivot fields form"
I can't get the tabs visible in my has many pivot form. Is this not possible or am I failing?

[code]

[2019-04-26 10:47] chatzisnik commented on #28
+1

[2019-04-29 11:33] morphsteve commented on #27
Perhaps store the tab name in localStorage (possibly namespaced by request path) then add a check after the query parameter check here? https://github.com/eminiarts/nova-tabs/blob/d07c52c6d20d3713671030cdfb1429dc20d4d7f2/resources/js/components/DetailTabs.vue#L101

[2019-05-04 17:27] christophrumpel commented on #35
Just tried the package out and I really liked it. Good work! This was also an issue I found. When you have validation errors you don't see on which tabs they are. In my case, the user would need to search through 5 different tabs to find it. Is this something you already know of? Would you be open for PRs?

[2019-05-04 21:15] 4n70w4 opened #37 "Feature: display all fields for MorphTo relations"
Very useful display all fields for MorphTo relations instead link to resource.

Current:
![image](https://user-images.githubusercontent.com/38257723/57184849-a27c1200-6eca-11e9-9e11-6276bd89911d.png)

Expected:

![image](https://user-images.githubusercontent.com/38257723/57184870-e111cc80-6eca-11e9-8037-79ce4245b7c7.png)

[2019-05-15 17:28] tanthammar commented on #23
Having the same issue

[2019-05-15 21:44] idragon81 commented on #35
+1

[2019-05-20 07:43] orlyapps commented on #35
+1

[2019-05-21 08:12] phucnguyenvn commented on #28
+1

[2019-05-24 18:07] ryanhalley opened #38 "resource-tools: How to show on Edit tab?"
Hi.

I have been trying to create a custom resource-tool (https://nova.laravel.com/docs/2.0/customization/resource-tools.html), and show it on View and Edit tabs using your package, but I only see it on the View tab. I am familiar with this ticket https://github.com/eminiarts/nova-tabs/issues/20 which was preventing the resource tool from appearing on the View tabs, but I am wondering how that fix

[2019-05-25 11:19] ryanhalley commented on #38
I finally understand that resource-tools can only appear on the View detail pane - my assumption, was that a resource tool was the way you updated many fields, and would contain an edit form to do so; for any one else wondering, creating a custom field instead, allows you to update whatever models/attributes you need to by overriding the default logic, and provides you the View/Edit forms that wil

[2019-05-25 11:19] #38 closed

[2019-06-04 17:20] dajoeberlei opened #39 "How to show more than 5 Resources on one Index Page?"
Hi, Is it possible to allow one Tab with Relations showing more than 5 Resources per Page?

Im working on a project where i almost always have between 5-10 Resources and i'd like to have them on the same page.

[2019-06-07 11:04] 4n70w4 opened #40 "Multiple relationships in one tab?"
I want to show several resources in one tab. I can not understand how this can be done.

![image](https://user-images.githubusercontent.com/38257723/59099942-42471880-892d-11e9-9c53-a526e6d2d432.png)

I wrapped it in a panel, but is created separate tab for each relation.

[2019-06-11 15:21] giancanuz commented on #35
here it is my 2 cents:
my workaround extends nova-scroll-top  package
- install from https://github.com/tanmuhittin/nova-scroll-top

- then I created: resources/js/my-nova-scroll-to-error.js with the following content
https://pastebin.com/UQPZkUqM

- added it to webpack.mix.js :
mix.js('resources/js/my-nova-scroll-to-error.js', 'public/js')

- compiled with: npm run production

- in my ServiceProv

[2019-06-26 11:33] SadeghPM commented on #28
+1 and same issue

[2019-06-27 11:07] atmediauk opened #42 "Remember current tab"
Hello,

Is it possible to remember the current tab when editing a resource. When clicking "Update & Continue Editing" it always goes back to the first tab which would be frustrating for users.

[2019-07-03 02:25] bolechen commented on #42
+1

[2019-07-03 02:27] bolechen opened #43 ""Trying to get property 'panel' of non-object" error when upgrade to nova 2.0.8"
When i upgrade to nova 2.0.8, in the edit view have this error:

[code]

[2019-07-03 02:29] bolechen commented on #43
May be this issue is relate https://github.com/laravel/nova-issues/issues/29

[2019-07-04 00:05] bolechen commented on #43
related issue https://github.com/laravel/nova-issues/issues/1719

[2019-07-06 10:15] #33 closed

[2019-07-08 08:27] WebZenitude commented on #43
After Nova 2.0.9:
 - tabs with a single panels and some relations work
 - tabs with two panels and some relations => Error "Trying to get property 'Panel' of non-object".

[2019-07-08 14:06] MarceauKa commented on #43
Why this issue is closed?

[2019-07-08 15:59] WebZenitude commented on #43
No idea! :-)

Le lun. 8 juil. 2019 à 16:06, MarceauKa <notifications@github.com> a écrit :

[2019-07-09 10:53] kgp43 commented on #43
Same problem

[2019-07-09 20:24] WebZenitude commented on #43
There's an help proposal from @davidhemphill here https://github.com/laravel/nova-issues/issues/1719
Could you have a look @bajramemini ?

[2019-07-10 03:20] phuclh commented on #43
I have the same problem with nova 2.0.9

[2019-07-10 05:00] kgp43 commented on #43
I ended up disable the package.
Would be nice, if Nova will add tabs.

[2019-07-11 07:51] iamoat commented on #43
Even though I have downgraded nova to 2.0.6, the edit page with Tabs has nothing shown at all. :'-(

[2019-07-11 07:56] bolechen commented on #43
when downgraded u need run nova:publish again

[2019-07-13 21:18] phuclh commented on #43
any solution for this problem :(

[2019-07-14 04:02] WebZenitude commented on #43
No commit since April 2019 @bajramemini , can I ask you what are your intents with this nova-tabs?
You did such a great work until now, it would be a pity to give it up.
A solution could be to let @davidhemphill include these tabs directly in Nova and then maintain the compatibility with the next Nova versions.

[2019-07-18 22:18] 949mac commented on #43
❗Same problem here.

I've downgraded to Nova 2.0.6 as well, and then ran:

[code]

[2019-07-19 15:49] audetcameron commented on #43
turn off use TabsOnEdit   for now.
you can still see tabs on detail pages.

[2019-07-22 07:24] rikless commented on #43
Same problem here. Any plan to update @bajramemini ?

[2019-07-23 20:23] bajramemini commented on #43
Hello everyone

Sorry for the long delay, have been on vacation for a couple of weeks and didn't receive any notification about this issue.

Will try to solve it asap and keep you updated.

[2019-07-23 20:46] ArmeniaH commented on #43
Thank you very much :))

[2019-07-24 15:28] bajramemini commented on #43
Should work as of [1.0.5](https://github.com/eminiarts/nova-tabs/releases/tag/1.0.5)

- Should not break anything (hopefully)
- Had to modify the `assignToPanels()` function. If it is used somewhere else and breaks anything, please let me know.

Kind regards
Bajram

[2019-07-24 15:35] bajramemini commented on #35
Hello there

Should be fixed as of [1.0.5](https://github.com/eminiarts/nova-tabs/releases/tag/1.0.5).

It should look like this:
![image](https://user-images.githubusercontent.com/3426944/61807205-5b524d00-ae39-11e9-8e3b-a560c7f368f5.png)

[2019-07-24 15:35] #35 closed

[2019-07-24 15:40] bajramemini commented on #30
Hello @patricktsg

Is this still a problem?

Should be [here.](https://github.com/eminiarts/nova-tabs/blob/master/resources/js/components/DetailTabs.vue#L172-L180)

Regards

[2019-07-24 15:41] bajramemini commented on #30
Feel free to reopen the issue, if this is still a problem.

[2019-07-24 15:41] #30 closed

[2019-07-24 15:42] bajramemini commented on #22
I think this should be fixed by now.

If there is any further issue, feel free to reopen the issue.

[2019-07-24 15:42] #22 closed

[2019-07-24 15:53] bajramemini commented on #23
Not really sure what is causing this issue.

Anyone has an idea or has figured it our?

Regards

[2019-07-24 15:58] patricktsg commented on #30
That's great! Thanks!

[2019-07-24 21:31] bajramemini commented on #37
Hey @4n70w4

Not sure this has anything to do with the Tabs package. If you want a different MorphTo Field, that should be its own package. Couldn't find one on novapackages.com but maybe someone built something like this already.

If you have any further questions, please let me know or feel free to reopen the issue.

Regards

[2019-07-24 21:31] #37 closed

[2019-07-24 22:25] phuclh commented on #43
@bajramemini After updated to 1.0.5 it doesn't show that error anymore, but there is no filed display. Only the buttons are displayed.

<img width="1474" alt="Screen Shot 2019-07-24 at 3 24 36 PM" src="https://user-images.githubusercontent.com/6707194/61832802-2e953a00-ae27-11e9-9522-06ca15d37971.png">

[2019-07-24 22:35] onemoreahmad commented on #43
Same here, fields disappeared on 1.0.5 and Nova 2.0.9.

[2019-07-24 22:46] onemoreahmad commented on #43
Ignore my previous comment, actually it works! the issue was from something else.

[2019-07-24 23:20] ArmeniaH commented on #43
I can confirm that Edit View has empty view with only buttons, as @phuclh mentioned

[2019-07-24 23:59] bolechen commented on #43
looks this fixed for me. thx for your work.

@onemoreahmad @phuclh your need run `nova:publish` after each upgrade.

[2019-07-25 05:47] phuclh commented on #43
@bolechen yeah, I did but it still doesn't show up the fields.

[2019-07-25 14:30] iamoat commented on #43
Still have a problem when clicking "View" button from an index page.

Need to down grade Nova to 2.0.6 and Tabs 1.0.4 to get it back to work.

[2019-07-25 16:52] rikless commented on #43
it's ok for me, thank you @bajramemini !

[2019-07-26 12:37] bajramemini commented on #43
@phuclh or @iamoat

What Error do you get?

Could you show me your `Fields` ? So I could try to resolve the issue if there is one. If you upgrade and run `nova:publish` seems to work for most.

[2019-07-27 01:19] phuclh commented on #43
@bajramemini I did run that command but when I use the `TabsOnEdit` trait. The create view doesn't show any fields, the update view is work, the detail view shows this error.

[code]
I try to remove the trait, everything is good.

[2019-07-27 06:57] orlyapps commented on #43
I got the same problem. I’ll try to debug this issue.

[2019-07-27 10:59] bajramemini commented on #43
@phuclh

Could you show me your `Fields` array? So I could try to debug it.

[2019-07-27 21:39] phuclh commented on #43
@bajramemini I think it just a normal array. I tried to remove all of the fields and just keep the ID field but the error still shows up.

[code]

[2019-07-29 10:27] iamoat commented on #43
I did run 'php artisan nova:publish' but it didnt' work.

To reproduce the error.
1. Enable 'TabsOnEdit' trait
2. Go to index view of the resource.
3. Click on the 'Detail View' icon.
4. And there the error hit me.

Note that the 'Edit/Update View' was totally fine.

The following is my array of fields.

`
return [
            ID::make()->sortable(),
            Text::make('Name')->sortable(),

[2019-07-29 16:57] phuclh commented on #43
@iamoat yes, I got that error too.

[2019-07-30 03:28] iamoat commented on #43
@bolechen Can you re-open the issue since it has not been fixed for my case and @phuclh's yet.

[2019-07-30 03:31] bolechen commented on #43
@phuclh @iamoat

It's ok for me now.
Can you test with a fresh install nova to reproduce this issue?

[2019-07-30 03:38] WebZenitude commented on #43
@phuclh  @iamoat @bajramemini @bolechen
I still have the issue too.
On a ressource, with `/* use TabsOnEdit; */` the page appears without the TabsOnEdit feature of course.
With `use TabsOnEdit`, the page runs forever (infinite loop somewhere?) and doesn't appear at all.

[2019-07-30 13:33] audetcameron commented on #43
I have the same issue above,

I don't know if it helps but when I try to
[code]
in detailFields() vendor/eminiarts/nova-tabs/src/ActionsInTabs.php
I get  Allowed memory size of 4294967296 bytes exhausted (tried to allocate 2145390592 bytes) {"userId":1,"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalErrorException(code: 1): Allowed memory size of 4294967296 bytes exhausted (tried

[2019-07-30 14:13] rikless commented on #43
@iamoat @phuclh run nova:publish is not enough. You may have to disable cache in your dev tools, if you're running `npm run dev/watch`

[2019-07-30 20:36] yassir3wad opened #44 "all fields disappeared"
After upgrading nova to 2.0.9, all form fields have disappeared.
When I tried to unuse 'TabsOnEdit' trait, all fields appeared.

laravel: 7.8.30
nova: 2.0.9
nova-tabs: 1.0.5

[2019-07-31 06:25] ArmeniaH commented on #43
I have empty field only in case of "create" now. "update" and "view" work as expected. no errors in console. checked the api call, its exactly same for "update" and "create", seems issue is coming from JS part

[2019-07-31 06:38] ArmeniaH commented on #43
@bajramemini
When I add "panel" also for the creationFields function in TabsOnEdit trait, seems like everything starts working. In your commit, you added only for updateFields function.

<img width="1063" alt="Screen Shot 2019-07-30 at 11 36 13 PM" src="https://user-images.githubusercontent.com/4003433/62189144-1dff2b00-b323-11e9-9443-1e36eb498f58.png">

[code]

[2019-07-31 07:53] ArmeniaH commented on #44
Checkout https://github.com/eminiarts/nova-tabs/issues/43

[2019-07-31 14:53] phlisg commented on #44
Not sure it's related to #43

I have a similar issue: editing an existing record works fine with tabs, yet when I want to create a new one I have no fields, just the two buttons "create & add another" / "create record".

Upon clicking on "create record", I have this JS error:

[code]

Commenting out the `Trait` call re-enables resource creation.

[2019-07-31 15:25] alanpilloud commented on #44
Same here, the issue is only present on resource creation.

[2019-07-31 17:42] yassir3wad commented on #44
there is no error in the js console

[2019-07-31 18:25] yassir3wad commented on #44
thanks

[2019-07-31 18:25] #44 closed

[2019-07-31 20:57] lvdhoorn commented on #35
Thank you so much for this fix!

[2019-08-01 08:49] happyDemon opened #45 "BUG Tabs only render on edit"
Using Nova 2.0.9 or 2.0.8 & the latest version of nova-tabs (with the tabsOnEdit fix).

When I try to created a resource I get a blank page (only the action buttons), with no error in my console.

When I try to view a resource I get `TypeError: Cannot set property 'fields' of undefined` error

The edit view is working perfectly though

Last working setup:
nova 2.0.7 + nova-tabs 1.0.4

[2019-08-01 11:50] iamburny commented on #45
Yep, I had the same issue.

I fixed it by editing "src/TabsOnEdit.php" from

`
    protected function assignToPanels($label, Collection $panels)
    {
        return $panels->map(function ($field) use ($label) {
            // Disable default Panel, because it's not needed for Tabs
            // if (!$field->panel) {
            //     $field->panel = $label;
            // }
            return $

[2019-08-01 16:37] asilverstein commented on #33
Was this implemented?

[2019-08-01 20:51] ArmeniaH commented on #43
@bajramemini
Can you please update the package and release a version with the fix I provided above?
Also it seems there is other case too, and the solution is posted here
https://github.com/eminiarts/nova-tabs/issues/45

Seems like alot of people is using this package! :)

[2019-08-02 06:23] phlisg commented on #43
Confirmed everything works by adding @ArmeniaH 's above solution ([two comments above](https://github.com/eminiarts/nova-tabs/issues/43#issuecomment-516718465))

[2019-08-02 14:37] hsharghi commented on #40
According to document in README file, it should be possible
There are two relations, `BlongsTo` and `MorphTo` in one tab named 'Relations', but I can't get the same result.

![Multiple relations in one tab](https://user-images.githubusercontent.com/2873823/62377800-b5998f00-b558-11e9-803b-5f5549448ddf.png)

[2019-08-04 04:19] iamoat commented on #43
This #45 fixed it for me. Now tabs shown correctly both on Edit and Detail views.

Can somebody make this fix official? @bajramemini

[2019-08-04 10:08] XternalSoft commented on #45
Thanks @iamburny, but for me, it's not resolved with your fix

[2019-08-07 19:57] funkdoobiest commented on #45
Made a PR to fix this issue: https://github.com/eminiarts/nova-tabs/pull/46

[2019-08-07 19:58] funkdoobiest commented on #43
Made a PR to fix the issue with missing fields on "create": https://github.com/eminiarts/nova-tabs/pull/46

[2019-08-09 13:22] geraintp commented on #45
The PR fixed it for me on +1

Laravel 5.8
Nova 2.0.10
Tabs 1.0.5

[2019-08-09 13:28] geraintp commented on #45
@iamburny 's fix solved it for me on 2.0.10

[2019-08-12 12:20] bajramemini commented on #43
Hey everyone.

Sorry, was pretty occupied with work the last days. Thanks for your suggestion.

I merged in the pull request and will release a new version soon.

Doesn't seem to work on one of my projects but will keep you updated.

[2019-08-12 12:47] #45 closed

[2019-08-12 12:49] bajramemini commented on #43
Lets hope it works with [1.0.6](https://github.com/eminiarts/nova-tabs/releases/tag/1.0.6)

Let me know if there is still any problem.

[2019-08-12 12:49] #43 closed

[2019-08-20 21:33] d8vjork opened #47 "Styling problems with latest Nova"
![image](https://user-images.githubusercontent.com/2331052/63386238-7b265380-c39a-11e9-8497-46c92f4432f1.png)

[2019-08-21 00:08] phuclh opened #48 "Argument 1 passed to Laravel\Nova\Resource::removeNonCreationFields() must be an instance of Laravel\Nova\Http\Requests\NovaRequest"
I got this error when using Nova 2.10 and nova-tabs v.1.0.6

`Argument 1 passed to Laravel\Nova\Resource::removeNonCreationFields() must be an instance of Laravel\Nova\Http\Requests\NovaRequest, instance of Laravel\Nova\Fields\FieldCollection given, called in /path/vendor/eminiarts/nova-tabs/src/TabsOnEdit.php on line 22`

[2019-08-21 08:33] rikless commented on #48
it's on nova 2.1.0. Have it too

[2019-08-21 20:01] ArmeniaH opened #49 "Breaking bug with Laravel Nova 2.1.0 (Panel::defaultNameFor)"
In ```TabsOnEdit.php```

2 function are used from Panel class, which are removed in latest Nova version

```Panel::defaultNameForCreate``` and ```Panel::defaultNameForUpdate```

New function is added to Panel, which is merging these functions

```Panel::defaultNameFor```

2 function should be updated

[code]

and

[code]

[2019-08-21 20:19] #49 closed

[2019-08-21 20:24] ArmeniaH commented on #48
```'fields'    => $this->removeNonCreationFields($request, $this->resolveFields($request)),```

```'fields'    => $this->removeNonUpdateFields($request, $this->resolveFields($request)),```

```$request``` should be added as first parameter for ```removeNonCreationFields``` and ```removeNonUpdateFields```

[2019-08-23 06:14] sirikkoster commented on #47
Add classes "relative h-9 flex-no-shrink mb-6 items-center" to "Attach Industry" container div wil fix this problem but I'm not familiar with Vue so I can't fix this yet ;)

[2019-08-26 13:06] johanvanhelden commented on #48
I've created a PR, hopefully it gets merged :crossed_fingers:

[2019-08-27 10:09] #48 closed

[2019-08-28 08:34] d8vjork commented on #47
@sirikkoster Yes, that can be a possible solution, the thing is that the package is doing something weird around it, I don't like the way Nova and most of the packages are developed on the frontend side

Anyway, thanks for the workaround 👍

[2019-09-03 07:57] mustafakhaleddev opened #51 "Call to undefined method Laravel\Nova\Panel::defaultNameForUpdate()"
Hello,
suddenly after updating my composer packages , and tried to open the application
i got error when trying to edit any resource with TabsOnEdit,
i looked at  Laravel\\Nova\\Panel and there is no such method like defaultNameForUpdate
[code]

[2019-09-03 09:00] sirikkoster commented on #47
Is there any update on this?

[2019-09-04 09:35] #51 closed

[2019-09-04 16:06] LorenzoSapora commented on #42
This is a duplicate of #27

Close and merge into that issue?

[2019-09-08 01:54] phuclh commented on #47
Any update on this? Seems just override the padding-bottom of class `mb-6`

[2019-09-09 15:26] wize-wiz commented on #27
I came to the same conclusion, here is the most simplest working version to keep track of selected tabs. I'm testing it now to see how much work it still needs and if, at all, it is fiable.

https://github.com/wize-wiz/nova-tabs/commit/4c0691a55351b57ba8b410872c9f1500bdd91fa5

[2019-09-10 08:16] morphsteve commented on #27
As a workaround for OP's issue, it is possible to configure Nova to redirect to a different URL after create/update, and the active tab can be set with a query string parameter.

Example assuming a `Parent` resource with a set of `Child` resources:

[code]

[2019-09-10 08:22] wize-wiz commented on #27
@morphsteve sure, that could work when a API call was made, though reloading the page or viewing a related resource (browser back-button) will not help bit maintaining the position of the selected tab.

[2019-09-11 09:46] ardasatata opened #52 "Cannot install this package in my composer"
Hello Im using nova v 2.1.0 but when im tried to install this package using composer it goes like this

[code]

[2019-09-18 15:05] bigperson commented on #24
i have some problem

[2019-10-10 12:50] novocent commented on #23
I have the same problem with the markdown field. If I click to focus or resize the browser window the content appears. If I inspect the page prior the the click or resize :
`<div class="CodeMirror-code" role="presentation"></div>` is blank. After, the content and and html markup is loaded into this div.

[2019-10-11 12:27] wize-wiz opened #56 "Trait TabsOnEdit overwrites `fill/fillForUpdate` and skips calling `*FieldsWithoutReadonly`."
The trait `TabsOnEdit` overwrite both `fill` and `fillForUpdate` methods but instead of calling
`creationFieldsWithoutReadonly` or `updateFieldsWithoutReadonly` they call `creationFields` or `updateFields` directly.

Nova's default behaviour from the trait `FillsField` is to exclude the readonly fields from the FieldCollection.

[code]

where `creationFieldsWithoutReadonly` calls `creationFields`.

[2019-10-16 04:05] scaventum opened #58 "Add visibility to tabs based on condition?"
Can we add condition per tab which can be hidden/shown based on condition e.g. user  role?

[2019-10-31 16:28] ronnytorresmtz opened #60 "Resources title is not display above the form detail"
Hi,
I have this code but the resources title is not display at the top of the page, do you know why?

This is my code. I appreciate any help.

      public function fields(Request $request)
      {
        $options = [];

        $options = [
            'Pending' => 'Pending',
            'Assigned' => 'Assigned',
            'Expired' => 'Expired',
            'Cancelled' => 'Cancelled',

[2019-11-04 09:03] #47 closed

[2019-11-08 10:13] jhae-de commented on #60
You need to set `withToolbar` to `true`.
See: https://github.com/eminiarts/nova-tabs#tabs-with-toolbar

[2019-11-12 10:26] iamoat opened #61 "Relationships in Edit View"
Is it possible to include relationships in tabs on EditView?

From nova documents it seems like relationships will be shown only in Detail View but not Create/Update view.

[2019-11-13 03:04] loveyuxiao opened #62 "not work in nova v2.7.0"
not work in nova v2.7.0

[2019-11-13 03:05] loveyuxiao commented on #62
Argument 2 passed to App\Nova\ResourceUser::assignToPanels() must be an instance of Laravel\Nova\Fields\FieldCollection, instance of Illuminate\Support\Collection given, called in /home/ad/www/laravel6/vendor/laravel/nova/src/ResolvesFields.php on line 197

[2019-11-13 11:09] rikless commented on #62
PR is sent. @bajramemini able to try, merge and tag please ?
https://github.com/eminiarts/nova-tabs/pull/63

[2019-11-13 11:21] kosmonowt commented on #62
oops. 12 minutes to late. here as well:
#64

[2019-11-13 11:26] rikless commented on #62
@kosmonowt https://github.com/eminiarts/nova-tabs/pull/64#issuecomment-553361488

[2019-11-13 12:33] sohaibafifi commented on #62
Not working on relations for me. They are displayed at the bottom.

[2019-11-13 13:58] bajramemini commented on #61
Hello @iamoat

This doesn't have to do anything with the Tabs package if the Relationship doesn't have a create/update view.

Feel free to reopen if I misunderstood your question.

[2019-11-13 13:58] #61 closed

[2019-11-13 13:59] #60 closed

[2019-11-13 14:03] rikless commented on #62
@sohaibafifi Right. Don't know why at this point. Seems related to nova.

[2019-11-13 14:09] binaryk opened #69 "Doesn't have support for nova 2.7.0"
Tabs aren't loaded for the latest nova release.

[2019-11-13 14:16] binaryk commented on #69
The component is visible in the vue dev tools, but it doesn't render tabs.
![image](https://user-images.githubusercontent.com/6833714/68771542-e77ac100-0630-11ea-9a8d-b0f1e2fa9de0.png)

[2019-11-13 14:20] rikless commented on #69
See #62
It looks related to HasMany fields.

[2019-11-13 14:30] rikless commented on #62
So, when a tab contains a HasMany type, it breaks the expected behavior. Any idea @bajramemini ?

[2019-11-13 22:03] namixmedia commented on #69
Also having this problem. HasMany fields are not shown in new tab.

[2019-11-14 00:21] newtongamajr commented on #69
Also the same situation, I'm passing thru...

[2019-11-14 00:24] newtongamajr commented on #58
Put your tabs array into a protected or private method and populate this array depending on which Tabs you wanna show. It works fine for me!

[2019-11-14 10:23] klepak commented on #69
Same issue, looks like problems with relationship fields in general.
If I only have Text fields in the Tab panel, it works, but as soon as I add a relationship field, the whole Tab panel disappears, and is replaced with only the relationship field as if I had only used that directly.

[2019-11-14 13:04] binaryk commented on #69
That's a big blocker, we basically cannot update the nova package.

[2019-11-14 13:09] rikless commented on #69
This package has the exactly same issue : https://github.com/dkulyk/nova-tabs

[2019-11-14 13:19] binaryk commented on #69
Then it seems that they modified something in nova itself. I tried to debug, but it's too verbose :)

[2019-11-14 23:33] ralphschindler commented on #69
I've found the issue in nova, I will reach out on the issue tracker and report what I've found, its def. an issue with merging metadata (thus, `listable` is being sent as `true` instead of `false` which forces a relationship panel to be created instead of a panel within a tab.

[2019-11-15 09:23] iamoat commented on #61
@bajramemini

This is what I meant.

First Pic. DetailView with Tabs "Extensions", "Queues", "Sip Trunks" in the bottom.

![image](https://user-images.githubusercontent.com/1286835/68931854-f9409d80-07c3-11ea-8e20-d5e15febc67e.png)

Second Pic. When I clicked Edit the Tabs for those mentioned above were gone.

![image](https://user-images.githubusercontent.com/1286835/68931934-27be7880-07c4-11ea-8

[2019-11-15 09:24] iamoat commented on #61
Nova: v2.6.1
Laravel: 5.8.35

[2019-11-21 18:37] vbezruchkin commented on #52
Hi,

The problem is typical for the case when you don't use repository URL for your nova package and add it as folder to your application.

[code]
You can create folder `custom` and put the latest version of nova-tabs package there. Once done, please make sure you updated your `composer.json to` symlink your composer to proper package folder.
Then delete `composer.lock` & `vendor` folder and run `

[2019-11-21 18:40] vbezruchkin opened #70 "HasMany relation stopped working"
Hi,

The latest version of the package does not display HasMany relations as separate tabs anymore.
So when you mix tabs & models based on HasMany type relations, each one had own tab. This does not work anymore.

Please fix. Thanks in advance.

[2019-11-22 07:42] akeresztesi commented on #70
Which version of Nova are you using?
Maybe related to #69

[2019-11-24 10:22] bajramemini commented on #62
Hello everyone

Had a lot to do last week, will try to get this fixed this week. Not sure what is causing the problem yet. If anyone has an idea, please let me know.

[2019-11-25 07:26] rikless commented on #62
@bajramemini it's a nova related issue. It will be patched in Nova 2.7.2 or 2.8.0, you don't have to do anything.

[2019-11-27 08:24] rikless commented on #62
Confirmed, fixed in nova 2.8

[2019-11-27 08:24] rikless commented on #69
fixed in nova 2.8

[2019-11-27 10:44] piotrgulbis commented on #69
Confirmed working in nova 2.8

[2019-11-27 12:50] bajramemini commented on #62
Awesome, thanks @rikless

[2019-11-27 12:50] #62 closed

[2019-11-27 12:50] #69 closed

[2019-12-06 08:29] iMuMz opened #71 "Tabs do not scroll on edit view"
Laravel Nova : 2.8.0
Tabs : 1.0

The tabs do not scroll on edit view when there are a lot of tabs on the resource. The tabs scroll correctly only when you view a resource.

<img width="1146" alt="Screenshot 2019-12-06 at 10 23 04" src="https://user-images.githubusercontent.com/22936672/70308041-1d1b6000-1813-11ea-982d-0adbcdcf5f98.png">

[2019-12-10 15:35] bernhardh opened #72 "Add possiblity to add an icon"
It would be great, if we could add icons to the tabs. Something like

![image](https://user-images.githubusercontent.com/642292/70543636-fd659e00-1b6a-11ea-8f59-be1874f1e6fc.png)

[2019-12-11 10:48] m-lotze opened #73 "Bug in nova 2.9.0 - rulesForUpdate() method signature has changed"
In nova 2.9.0 the signature of the method `rulesForUpdate` has changed. this leads to an exception with this package:

[code]

[2019-12-11 10:52] LorenzoSapora commented on #73
Can confirm

[2019-12-11 11:04] LorenzoSapora commented on #73
Update: rulesForUpdate (and, the other static functions in that trait) should align to nova's new arguments. Adding `$resource = null` to the block fixes the error, but unsure if that's the best solution.

[code]

I'd push a PR, but hopefully the maintainer (@bajramemini) can shed some light on this

[2019-12-11 14:36] rikless commented on #73
confirmed

[2019-12-11 18:53] vbezruchkin commented on #73
Another confirmation! I have the same problem on my Nova 2.9.0

[2019-12-11 19:27] vbezruchkin commented on #73
Looks like there are many methods that are not compatible with the latest nova 2.9.0 :( I guess the package support might dropped as there is very little activity in terms of development. It's a sad story as the package is great itself!

[2019-12-11 19:47] vbezruchkin commented on #70
I use the latest version of Nova which is 2.9.0 now, and I can confirm the problem still exists. Thanks

[2019-12-11 19:57] vbezruchkin commented on #70
Please ignore. Working fine now. Cheers.

[2019-12-11 19:57] #70 closed

[2019-12-12 03:51] vincenzoraco commented on #73
@vbezruchkin Although your solution works perfectly fine (thank you for your time!), it is highly not recommended to change packages files just in order to fix problems. If the package is no longer maintained, we should either create a fork and make our changes on it or don't use the package at all.

If people don't want to fork it, I suggest to just avoid using the _TabsOnEdit_ trait for now unti

[2019-12-12 04:56] vbezruchkin commented on #73
Thanks for your feedback. That was just a temp solution for the guys, who had the same issues. Yes, I should have mentioned that in the original post :)

Regarding the fix - I've created a fork and have a pull request for the fix. To be honest, for me it's easier to update the vendor file with the working code, rather than edit around 70 models I have in my project and delete TabsOnEdit usage ther

[2019-12-12 05:18] vincenzoraco commented on #73
Wow! Indeed, 70 are a lot! I was thinking people used it for a few models. Anyway, let's hope that the maintainer push your edit through soon 👍 Thank you again for the time spent on it

[2019-12-12 17:51] bajramemini commented on #73
Should be fixed in [1.2.1](https://github.com/eminiarts/nova-tabs/releases/tag/1.2.1) .

[2019-12-12 17:51] #73 closed

[2019-12-13 06:26] MilesWuCode opened #75 "use TabsOnEdit; errors in nova 2.9.2"
Best Plugin!!!

v1.2.1

When form
Argument 1 passed to Laravel\Nova\Resource::removeNonCreationFields() must be an instance of Laravel\Nova\Http\Requests\NovaRequest, instance of Laravel\Nova\Fields\FieldCollection given, called in vendor/eminiarts/nova-tabs/src/TabsOnEdit.php on line 23

[2019-12-13 10:36] dkulyk commented on #75
This is has broken in https://github.com/eminiarts/nova-tabs/pull/74/files#diff-41ad8b03bba6a360c6b7c5910ab3f2f8L22

[2019-12-13 14:53] kosmonowt commented on #75
also here! please fix!

[2019-12-16 08:31] rikless commented on #75
Got the issue too :/

[2019-12-16 11:52] alexsaab commented on #75
I got error too

[2019-12-16 14:35] ronnytorresmtz commented on #75
I have the same issue

[2019-12-16 18:35] bajramemini commented on #75
Hey everyone

As I have a lot to do the next few days, I would appreciate a PR for this. Otherwise, I'll take a look at it within a week.

Regards

[2019-12-17 11:44] bernhardh opened #77 "Automatically use title of resource"
Why do we have to provide a name for the Tabs?

[code]

Is there a way, to just use the name of the resource?

Leaving it empty or set to `null` doesn't work, because then, the tabs aren't shown.

[2019-12-18 07:47] bernhardh commented on #77
Ok, its not really important. You can simple use `$this->title()` as first param.

[2019-12-18 07:47] #77 closed

[2019-12-18 14:53] LorenzoSapora commented on #75
@bajramemini here's the PR https://github.com/eminiarts/nova-tabs/pull/76

[2019-12-18 15:28] #75 closed

[2019-12-19 14:16] preliot opened #78 "Warning: Declaration of Eminiarts\Tabs\TabsOnEdit::assignToPanels ... should be compatible with"
Just updated all packages to most recent one and got this error:

`Declaration of Eminiarts\Tabs\TabsOnEdit::assignToPanels($label, Laravel\Nova\Fields\FieldCollection $fields) should be compatible with Laravel\Nova\Resource::assignToPanels($label, Illuminate\Support\Collection $panels)`

Temp fix:

/nova-tabs/src/TabsOnEdit.php

use Illuminate\Support\Collection as FieldCollection;

[2019-12-20 09:22] gavinhewitt opened #79 "Add option to add custom content (item count, icon etc) to tabs"
It woud be great to be able to add the count of items, or icons on the tabs. Preferably you'd be able to specify the position of the custom content, perhaps something like `beforeText()` and `afterText()`

Related #72

[2019-12-20 15:14] LorenzoSapora opened #80 "Fields unstyled when using 'Content' as tab title"
Package: 1.2.2
Nova: 2.9.2
Laravel: 5.8.*
---

When you call a tab "Content", it causes issues with styling of that tabs fields.

[code]
![image](https://user-images.githubusercontent.com/25519274/71264029-19bbc480-233b-11ea-931f-d3fb1c57680f.png)

Changing it to "Contentt"

[code]

![image](https://user-images.githubusercontent.com/25519274/71264109-42dc5500-233b-11ea-95bb-651de291b64d.png)

(ign

[2019-12-24 01:09] pbrisson commented on #78
@preliot Can you give additional details regarding your versions?

Current release of Nova is 2.9.2 and Nova Tabs is 1.2.2; Can't reproduce the error.

The current definition of assignToPanels function doesn't match what you report neither:

[code]

Looks like you're still using Nova 2.9.0. Look at nova/src/ResolveFields.php line #572 to #588 to make sure. Definition should be identical as the one

[2019-12-26 13:07] swatty007 opened #81 "Overflowing content is cut off"
If you have too large content on the relationship tabs it gets cut off by the overflow-hidden class.
This is problematic if you have content, which should actually render over the boundaries like custom select fields.

![grafik](https://user-images.githubusercontent.com/38767638/71477095-72caa300-27e8-11ea-8bdf-f0af6b68c0df.png)

Not sure if the overflow-hidden is needed there, but it would be nic

[2019-12-29 01:16] LorenzoSapora opened #82 "With width not set, card defaults to mobile minimum"
A small issue only impacting other packages that adjust the size of the fields themselves.

![image](https://user-images.githubusercontent.com/25519274/71551172-9c4a2100-29d8-11ea-9725-2e4d6433fb3b.png)

Creating a PR to fix this.

[2019-12-29 01:21] LorenzoSapora commented on #82
Note that this is to fix a conflict where a tool, like nova-grid, allows adjustments to field width. Instead of allowing the container div set the width according to the viewport, we let the container shrink to the minimum mobile width. This fixes that, with no effect on existing fields (even` stacked()`)

[2019-12-30 13:00] shazibrazzaq commented on #40
hey guys i am getting the same problem any solution?

[2020-01-09 11:10] BenjaminBrandtner opened #85 "Respect Panels and Panel order on edit page"
On my User Resource I use one Tabs-Component and one standard Nova Panel, like this:

[code]

On the detail page, two cards are displayed, with the Personal Details at the top and the Game Details at the bottom, as expected.

On the edit page however, just one card is displayed, with the Game Details at the top, then the tab bar, then the Personal Details fields.
It looks like [this screenshot](ht

[2020-01-09 16:55] bernhardh commented on #42
With my pull request https://github.com/eminiarts/nova-tabs/pull/86 this should be fixed

[2020-01-09 16:58] bernhardh commented on #27
With my pull request https://github.com/eminiarts/nova-tabs/pull/86 this should be fixed.

@wize-wiz I had a look at your code and you are asking yourself

[code]

I think, eminiarts had already tried to solve it by a query string, but it just not worked. My solution is very similar, but working, without localStorage.

[2020-01-09 17:04] wize-wiz commented on #27
@bernhardh Yea I figured that out after I pushed the commit. The fork I made was less than 5 minutes of work, it's absolutely and can be improved in a lot of ways.

[2020-01-14 04:56] medvinator commented on #85
This is because method **updateFields** in trait **TabsOnEdit** return only one field in **FieldCollection**

[code]

[2020-02-05 09:34] ziming commented on #70
mine wasn't working in the latest version

[2020-02-07 13:20] LorenzoSapora opened #88 "When using nova-tabs, create button appear in modal"
In Nova v2.10.0, inline create modal windows came into the core. This is meant to be a single modal window, that doesn't have '+ create' next to belongsTo fields. But when using nova-tabs, it keeps the +create button next to belongsTo. This alone is not a massive issue, but they're broken buttons.

Reproduce:

- Add nova-tabs to page (with edit)
- Have belongsto relation on both resources (for thi

[2020-02-12 03:36] raulsh opened #89 "Can't create or edit with relationships"
Tabs works great even with relationships but can't edit or create with those. I tried another packages but it wasn't enough.

[2020-02-12 03:39] raulsh commented on #89
Related to #61 but issue was closed.

[2020-02-18 19:17] madube opened #90 "nova 2.10.1 tab fields not showing"
try with
Laravel 6.16.0
Laravel/nova 2.10.1
nova-tabs 1.2.2

the .tab-content in nova-add.css has
.tab-content {
  max-height: 0;
  display: none;
}

in the detailTabs.vue
 .tab-content class is set if defaultSearch is false

[code]

the tabs fields are not showing on page because of the .tab-content atttributs from the nova-add.css.

![Capture](https://user-images.githubusercontent.com/7302459/74

[2020-02-20 13:54] preliot commented on #78
Updated nova to 2.11.1 and issue is no longer present! Issue was due to old nova install, which was not updated with composer update (needed to manually update nova).

@pbrisson Sorry, took to long. Was occupied with other work.

[2020-02-20 13:54] #78 closed

[2020-04-01 13:06] royduin commented on #56
Having the same issue which results in errors because the readonly fields are getting saved. Any updates?

[2020-04-03 07:17] phuclh opened #92 "Support for Laravel 7, Nova 3"
Will this package support for Laravel 7, Nova 3?

I got this error when using Nova 3.2.1.

`Argument 2 passed to Laravel\Nova\Resource::removeNonCreationFields() must be an instance of Laravel\Nova\Fields\FieldCollection, instance of Illuminate\Support\HigherOrderWhenProxy given, called in /Users/mac/Code/demo/vendor/eminiarts/nova-tabs/src/TabsOnEdit.php on line 22`

[2020-04-03 14:59] ziming opened #93 "Error in Nova 3 under TabsOnEdit"
Got the following error when I try to edit a resource

Argument 2 passed to Laravel\Nova\Resource::removeNonUpdateFields() must be an instance of Laravel\Nova\Fields\FieldCollection, instance of Illuminate\Support\HigherOrderWhenProxy given, called in ~/laravel-projects/my-project/vendor/eminiarts/nova-tabs/src/TabsOnEdit.php on line 112

Hope it helps. Thanks!

[2020-04-03 18:24] #93 closed

[2020-04-03 18:24] ziming commented on #92
It works on laravel 7, nova 3 for me.

[2020-04-04 09:36] sirikkoster commented on #92
Pullrequest #91 will fix this problem i think

[2020-04-04 10:52] ziming commented on #92
I had a PR on laravel/nova that deals with this issue, it was merged some hours ago, download the latest nova from github, it should work now.

[2020-04-04 19:31] latwelve commented on #92
Nova 3.2.1 trying to use TabsOnEdit, with no changes from the release package:

`Argument 2 passed to Laravel\Nova\Resource::removeNonCreationFields() must be an instance of Laravel\Nova\Fields\FieldCollection, instance of Illuminate\Support\HigherOrderWhenProxy given, called in /Sites/XXXi/vendor/eminiarts/nova-tabs/src/TabsOnEdit.php on line 22 {"userId":1,"exception":"[object] (TypeError(code:

[2020-04-05 02:32] ziming commented on #92
the latest one from github not the latest release on nova website

[2020-04-05 06:06] phuclh commented on #92
Yes. Thank you!!!

[2020-04-05 06:06] #92 closed

[2020-04-08 09:37] preliot commented on #28
+1 Seems to go wrong in `Laravel\Nova\Http\Controllers\FieldDestroyController.php` on line 28

[2020-04-16 07:27] sirikkoster opened #94 "Bug: Field name cannot contain dot when using ActionsInTabs"
- Laravel Version: 7.3.16
- Nova Version: 3.4.0
- PHP Version: 7.2.29

### Description:
If i use the trait ActionsInTabs and there are dot's in the field names the value will not be shown

### Steps To Reproduce:

Shows nothing
[code]

Shows the value
[code]

[2020-04-16 13:39] degecko opened #95 "Using tabs on edit with ebess/advanced-nova-media-library causes Call to undefined method App\Models\Product::getMedia()"
Hello,

Thanks for this great plugin, first of all, because it looks great and works nicely on my other sections, however, when I try to use it with ebess/advanced-nova-media-library, on the create/edit pages, it gives me the error in the title:

[code]

I was wondering if anyone else has hit this issue before and if they know how to fix this, if possible.

[2020-04-19 05:55] degecko commented on #95
My bad, this was caused by me being unaware that I had to setup [Spatie's Media plugin](https://github.com/spatie/laravel-medialibrary) first. Everything's good now.

Thanks again for the great plugin.

[2020-04-19 05:55] #95 closed

[2020-04-22 10:48] krisimmig commented on #93
@ziming I ran into this issue as well, do you know in which verion of nova your PR is included?

[2020-06-26 08:08] ntsbstn commented on #81
I'm using whitecube/nova-flexible-content and I confirm, this is annoying.

<img width="445" alt="Screenshot 2020-06-26 at 10 06 31" src="https://user-images.githubusercontent.com/23659828/85835210-edbf4700-b794-11ea-83d1-291eb7977b4c.png">

[2020-07-16 08:29] sfgary opened #98 "doesn't work in nova 3.7.1"
PHP 7.4
Laravel 7.19.1
Nova 3.7.1

copy the example:
        new Tabs('Tabs', [
            'Balance'    => [
                Number::make('Balance', 'balance'),
                Number::make('Total', 'total'),
            ],
            'Other Info' => [
                Number::make('Paid To Date', 'paid_to_date'),
            ],
        ]),

result:
![image](https://user-images.githubusercontent.

[2020-07-17 15:17] CitizenBeta commented on #71
I'm also running into this on 3.x. Would be great if the tab layout matched the detail view. <3

[2020-07-31 09:57] pleone commented on #98
Same here

[2020-08-07 14:37] arall opened #101 "Nova v3 compatibility"
https://github.com/eminiarts/nova-tabs/blob/master/composer.json#L18

Is there any plan to make it compatible with Nova v3?

[2020-08-07 14:40] arall commented on #101
Oh, nvm, the issue was that composer was not detecting my nova version, as it was installed by copying the directory.

[2020-08-07 14:40] #101 closed

[2020-08-09 06:38] DerekBuntin commented on #28
This issue is still happening to me, as soon as I removed TabsOnEdit the images deleted successfully.

[2020-08-24 21:14] bernhardh commented on #28
Yes. Still an issue

[2020-09-06 11:28] marianne-fullstack commented on #58
Hi @newtongamajr do you have any sample code? Thanks!

[2020-09-09 15:25] asivaneswaran opened #104 "Package abandoned"
Hey, is the package abandoned? Or will it work with Nova 3.9.0?

[2020-09-11 12:39] RVxLab commented on #104
@asivaneswaran It works with Nova 3.9.0 on Laravel 8, PHP 7.4.

[2020-09-22 01:55] MilesWuCode commented on #98
same.. nova v3.10.0

[2020-09-22 02:20] MilesWuCode opened #106 "function help is not work"
Text::make('Title')->help('help text')

use TabsOnEdit;
function help is not work

[2020-09-23 13:00] franraknic commented on #98
Laravel 7.24
Nova 3.8.4

Also not working

[2020-09-24 13:00] bernhardh commented on #106
I have the same problem. Not sure, since when this problem occurs.

[2020-10-01 09:07] RVxLab commented on #106
@MilesWuCode @bernhardh

Could you describe what you're expecting as well as which PHP, Laravel and Nova version you're using? Additionally any errors would be helpful.

[2020-10-01 09:09] RVxLab commented on #104
The original maintainer of this package unfortunately did not have the time anymore to actively maintain this.

I stepped in to help maintain this. Consider it not abandoned. :)

[2020-10-01 09:09] #104 closed

[2020-10-01 12:20] asivaneswaran commented on #104
Great news. Thanks!

[2020-10-01 16:57] bernhardh commented on #106
Thanks for reacting. To test the problem, I have just created a new installation of nova:

# Environment

[code]

# Usage

I just wrapped the default nova `User` resource into the tabs, added the `->help("This is a help text for name")` to the name field and used your `TabsOnEdit` trait:

[code]

# Expected result (on edit view)

![image](https://user-images.githubusercontent.com/642292/94839822-d

[2020-10-02 05:32] #106 closed

[2020-10-02 19:10] RVxLab commented on #98
Are you on a form? If so, did you add the `Eminiarts\Tabs\TabsOnEdit` trait?

[2020-10-02 19:11] RVxLab commented on #90
Sorry for the late response. Is this still an issue at this time?

[2020-10-02 19:14] RVxLab commented on #61
@iamoat *slightly* belated on this.

Am I correct that those are `HasMany` relations? If so then what you're seeing it correct. `HasMany` fields don't display in forms.

[2020-10-02 19:15] RVxLab commented on #89
Hi Raulsh,

What kind of relationships are they? `BelongsTo` fields should appear as you'd expect, but `HasMany` or `BelongsToMany` don't as they don't show up in Nova's forms.

[2020-10-02 19:18] RVxLab commented on #94
Is this still an issue at this point? If so, can you provide me with a way to reliably reproduce this? Thanks!

[2020-10-07 05:23] vbezruchkin opened #109 "TabsOnEdit trait does not work in Nova 3.12.0"
Hi,

Tabs are not displayed on Edit page. When you get rid of the trait, they are displayed fine.
Tabs are available on Insert / View page.

PHP Version  |  7.4.6
Laravel Version | 8.9.0
Nova Version | 3.12.0

Thanks in advance.

[2020-10-07 08:31] ziming commented on #109
Can confirm this. This is a very popular package for nova. Hope @crynobone can help on this.

[2020-10-07 08:35] ziming commented on #98
I believe i made a merged PR to nova that fixed this in a newer version. Although it broke again in nova 3.12

[2020-10-07 17:08] LorenzoSapora commented on #109
Confirmed, and it's a silent error, too. Had to do some manual testing to find out which package caused the issue. I would assume this is an issue with https://github.com/laravel/nova/pull/1000/files, but unsure how or why it broke tabs.

[2020-10-07 17:12] LorenzoSapora commented on #109
@RVxLab seems to be maintaining this package from other PRs here. I'll see if I can spend some time digging into the issue

[2020-10-07 17:18] LorenzoSapora opened #110 "Nearly a year since last release, but has fixes in master"
I currently have composer to pull `dev-master`, so the issue isn't too important for me, but there have been some fixes waiting in master that would be very useful to users who still have this package pegged to `v1.2.2`.

[2020-10-07 18:39] LorenzoSapora commented on #109
Nova `v3.12.1` this has this issue.

[2020-10-08 08:38] randomparanoia commented on #109
Same here. I was not able to dig the problem but since I am using a trait from other package, some resources are working?! The trait is from [](https://github.com/dcasia/conditional-container)https://github.com/dcasia/conditional-container

[2020-10-08 09:08] LorenzoSapora commented on #109
Very interesting.. @randomparanoia is correct, if you use that package/trait, it works again. It must be some class that it extends that the update breaks. I'll look into this after work.

[2020-10-09 09:35] vbezruchkin commented on #109
thanks in advance @LorenzoSapora

[2020-10-09 09:37] RVxLab commented on #110
I'm very aware and I very much agree with you. I'd like to add a couple more fixes into master before pushing a new release. I'm hoping to get to this over the weekend.

[2020-10-09 09:46] Dontorpedo commented on #109
@randomparanoia

lol, strange.. same for me..

my edit view was not visible until i added this package and trait..

i am on laravel 8, nova 3.12.1

[2020-10-09 09:48] RVxLab commented on #109
@LorenzoSapora If you do manage to take a look, please do tell me what you find and I'll try to implement a fix for this.

[2020-10-09 11:15] Dontorpedo commented on #109
seems like it has something to do with this [PR](https://github.com/laravel/nova/pull/1000/files)

[2020-10-09 11:17] RVxLab commented on #109
Good to know, I'll take a look at this.

[2020-10-10 11:50] #56 closed

[2020-10-10 12:32] RVxLab commented on #109
@Dontorpedo Thanks again for that reference, I was able to find the issue and fix it.

See #111

I'm going to contact @bajramemini to tag 1.2.3 and get this out there.

[2020-10-10 12:43] stefvanesch commented on #109
@Dontorpedo Thanks for fixing this so quickly :) @bajramemini any estimate on when this will be released?

[2020-10-10 12:45] RVxLab commented on #109
@stefvanesch Until the package is on Packagist you could refer to `dev-master` for now. Look out for version `1.2.3`.

[2020-10-10 13:42] vbezruchkin commented on #109
Thanks much! It's working now. Just updated to the latest dev version.

[2020-10-10 13:42] #109 closed

[2020-10-10 14:15] RVxLab commented on #109
I'm happy to hear it's working for you. I'll update this issue when the next tag is available.

[2020-10-11 18:54] RVxLab commented on #110
1.2.3 was just tagged.

[2020-10-11 18:54] #110 closed

[2020-10-14 14:00] salierg opened #112 "Does not work with Spatie NovaTranslatable"
This package show nothing when you try to display a translatable field in a tab.
We are using this package to manage translations for some fields:
https://github.com/spatie/nova-translatable

[code]

[2020-10-17 20:01] keironwaites opened #113 "?tab=Profile takes me to this tab on Detail view but not on Edit view"
I have discovered that if I add ?tab=Profile to the URL tabs will jump to the Profile tab in detail view - great!

However I would like to deep link to the edit view. When I add ?tab=Profile to the URL here the system does not load the Profile tab.

[2020-10-19 10:16] RVxLab commented on #52
Due to the age of this issue and my attempt to clean everything up I'm closing this. If this is still a problem for you, please re-open this or create a new one.

[2020-10-19 10:16] #52 closed

[2020-10-19 10:18] RVxLab commented on #23
Due to the age of this issue and my attempt to clean everything up I'm closing this. If this is still a problem for you, please re-open this or create a new one.

[2020-10-19 10:18] RVxLab commented on #24
Due to the age of this issue and my attempt to clean everything up I'm closing this. If this is still a problem for you, please re-open this or create a new one.

[2020-10-19 10:18] #24 closed

[2020-10-19 10:18] RVxLab commented on #26
Due to the age of this issue and my attempt to clean everything up I'm closing this. If this is still a problem for you, please re-open this or create a new one.

[2020-10-19 10:18] #26 closed

[2020-10-19 10:19] RVxLab commented on #42
This is a duplicate of #27 and PR #86 should fix this. Any additional comments should be put in those.

[2020-10-19 10:19] #42 closed

[2020-10-19 10:21] RVxLab commented on #40
HasMany, BelongsToMany, MorphMany, etc relationships don't render in tabs, they **are** the tabs. BelongsTo and HasOne should work just fine though.

[2020-10-19 10:21] #40 closed

[2020-10-19 10:21] bolechen commented on #23
This issue is still in the newest version.

[2020-10-19 10:21] RVxLab commented on #28
I'll try to take a look at it this week.

[2020-10-19 10:22] RVxLab commented on #23
Newest version of Nova or this package?

[2020-10-19 10:23] RVxLab commented on #71
Can you give this a go with the latest version?

[2020-10-19 10:25] RVxLab commented on #58
Hmm, I quite like this idea actually. This could be done with a `when` method similar to the query builder.

I'll try to take a look this week or if someone wants to take a crack at it and make a PR please feel free to do so.

[2020-10-19 10:26] RVxLab commented on #39
First off, sorry for the silence. This is a pretty nice idea, I'll take a look if this can be implemented.

[2020-10-19 10:26] bolechen commented on #23
Also, in my case i test in Nova v3.12.1 & nova-tabs 1.2.3, If more information is needed, I'm happy to assist!

[2020-10-19 10:26] RVxLab commented on #36
BelongsToMany doesn't render in tabs as they are the tabs.

[2020-10-19 10:26] #36 closed

[2020-10-19 10:29] RVxLab commented on #79
As it's related to #72, let's keep it there.

[2020-10-19 10:29] #79 closed

[2020-10-19 10:30] RVxLab commented on #23
If you could send an up to date screenshot and/or screencast that'd be fantastic. I'll try to take a look over the week.

[2020-10-19 10:31] RVxLab commented on #80
Is this still an issue with the latest version of Nova?

[2020-10-19 10:31] #82 closed

[2020-10-19 10:34] RVxLab commented on #85
I'd need to take a look how this could be implemented correctly. Due to limited time that might be a while. If you want to take a crack at it yourself please feel free to do so.

[2020-10-19 10:36] RVxLab commented on #89
Due to the age of this issue I'm closing it. If my above comment isn't related to this, feel free to reopen.

[2020-10-19 10:36] #89 closed

[2020-10-19 10:37] RVxLab commented on #90
Due to the age of this issue I'm closing it. If this is still a problem, feel free to reopen or create a new one. If you do so, please provide information on a more up to date version of Nova.

[2020-10-19 10:37] #90 closed

[2020-10-19 10:39] RVxLab commented on #98
Due to the age of this issue I'm closing it. If my above comment did not help, feel free to reopen this issue or create a new one.

[2020-10-19 10:39] #98 closed

[2020-10-19 10:40] RVxLab commented on #112
I'm gonna need a bit more info on this one. What exactly do you mean with "shows nothing"?

Could you provide a screenshot?

[2020-10-19 10:42] RVxLab commented on #113
Doesn't sound like a tough thing to do. I'll try to take a look over the week.

[2020-10-19 11:24] bolechen commented on #23
This is the screencast in gif, hope helpful, thx for the work.

![Screen Recording 2020-10-19 at 18 52 36](https://user-images.githubusercontent.com/195015/96444319-a4fa3500-1240-11eb-935d-43334630fe70.gif)

[2020-10-19 11:27] RVxLab commented on #23
This is definitely helpful, thank you. I'll investigate this.

[2020-10-19 11:52] ThaDaVos opened #115 "[Feature-Request] Allowed nested tabs"
In a special case I want to add a nested tabs list but I get an error:
![image](https://user-images.githubusercontent.com/5251028/96447444-330af700-1212-11eb-9c5f-bfdbeb69bdc0.png)

Is there a way around this to allow a nested tabs?

[2020-10-19 12:27] ThaDaVos commented on #115
Never mind the error - that was something else - but when adding `Tabs` as child of `Tabs` it won't show tabs at all...

[2020-10-20 09:05] dajoeberlei commented on #39
@RVxLab no worries. I havent checked it out yet in your package but i know now that Nova has this variable build in for defining how many relationship model should be displayed.
If you put this on the relation ship model:

`public static $perPageViaRelationship`

(its default is 5)

Like i said. Havent tried it on your package but maybe that already does the trick? :-)

[2020-10-20 09:06] RVxLab commented on #39
If that does the trick do let me know and I’ll add it to the readme.

[2020-10-20 10:19] RVxLab commented on #115
Is there any particular use you're after for this? To me it seems like putting tabs within tabs is a great way to get lost in your data.

[2020-10-20 10:21] #39 closed

[2020-10-20 11:05] bajramemini commented on #115
It wasn't intended to work like this. I have to agree with @RVxLab that you could easily get lost in your data if you have multiple tabs within multiple tabs.

[2020-10-20 11:39] #81 closed

[2020-10-20 19:18] RVxLab commented on #27
In light of #86 almost being ready to be merged I'll be closing this. Expect this functionality in 1.3.0.

[2020-10-20 19:18] #27 closed

[2020-10-21 05:35] RVxLab commented on #23
I had a look, this seems to be an issue within CodeMirror. By the looks of it, when the field is not visible after the initial load the contents are not visible.

https://stackoverflow.com/questions/8349571/codemirror-editor-is-not-loading-content-until-clicked

Ideally this should be fixed in Nova and I'll end up making an issue there after I come home from my day job. Until then, can you please

[2020-10-21 11:18] bolechen commented on #23
I test this version local, it works prefect for me now.

Good job~
On Oct 21, 2020, 13:35 +0800, RVxLab <notifications@github.com>, wrote:

[2020-10-21 19:10] 949mac commented on #28
Thanks @RVxLab !

[2020-10-23 14:58] dgerrese opened #116 "Relation field index search overlaps tabs"
Laravel Nova: 3.8.4
Tabs: 1.2.2

When tabs use enough space to span most of the parent element's width, the search field overlaps some of the tabs. Making them unclickable.

Steps to reproduce:
Add tabs to a resource.
In tabs add mutiple panels with long enough names so the tabs span most of the width.
Also add a relation field, like HasMany, where the related model is searchable.

![image](https:

[2020-10-24 07:55] bajramemini commented on #116
If you have a lot of tabs, you could use `->defaultSearch(true)` https://github.com/eminiarts/nova-tabs#default-search

I tried to fix this issue once but couldn't come up with a good solution

[2020-10-24 07:58] RVxLab commented on #116
I think this requires a slight rewrite of how tabs are rendered. I’m thinking a combination of using flexbox and an overflow might just fix this.

[2020-10-25 14:49] RVxLab commented on #116
Had a look today. Problem is that Nova's search and button component are part of the field and cannot be influenced from the outside (directly anyway). This is a very tricky issue

[2020-10-26 06:27] RVxLab opened #117 "Multiple tabs bugs remembering the current tab"

[2020-10-26 11:18] bajramemini commented on #116
Yes exactly, that was the problem I was facing. There are some hacky solutions that could work, but I'd rather stick with `->defaultSearch(true)` for that amount of tabs.

[2020-10-28 11:19] preliot opened #118 "When using nova-tabs, detail page is missing :title."
Laravel Nova now uses ":resource Details: :title" to show a detail page title. But on pages with nova-tabs, i can only see ":resource Details". Can this be a nova tabs issue?

[2020-11-02 06:55] keironwaites commented on #113
Hey, anything I can do to help with this one?

[2020-11-03 13:18] iSaadSalman commented on #112
@RVxLab It shows loading on the screen but in debugger it shows following errors:

<img width="676" alt="Screen Shot 2020-11-03 at 4 16 19 PM" src="https://user-images.githubusercontent.com/736170/97989808-1d8bf480-1df0-11eb-9937-0126de3c0b96.png">

[2020-11-03 14:37] RVxLab commented on #113
With all the current open issues regarding the tabs I'm planning something a bit more "dramatic" so to say. Leave it with me for now.

[2020-11-03 14:38] RVxLab commented on #112
Thanks for the screenshot, I'll look further into it.

[2020-11-03 16:14] keironwaites commented on #113
Hi @RVxLab, could you please email me? keiron@gmail.com Thank you.

[2020-11-03 18:21] RVxLab commented on #118
Hey Preliot, I'll look into this.

[2020-11-03 19:01] #117 closed

[2020-11-03 19:01] #115 closed

[2020-11-03 19:06] RVxLab commented on #118
I had a look but I can't really find what you mean. Could you send a screenshot?

[2020-11-03 19:23] RVxLab commented on #113
By the looks of it this has been fixed with #86

It *should've* been released with 1.3.0, but that wasn't tagged yet. Keep an eye on this.

As for your email, why do you need this?

[2020-11-03 19:24] #118 closed

[2020-11-03 19:47] keironwaites commented on #113
I would like to discuss possible remuneration. Thanks.

[2020-11-03 20:07] RVxLab commented on #113
This sounds like something you'd need to discuss with @bajramemini. I don't own this repo, I merely help maintain it.

[2020-11-04 07:51] preliot commented on #118
See you've found it and created a fix. Nice!

[2020-11-04 07:55] RVxLab commented on #118
As I wrote my previous comment I found out what you meant. I contacted the repo owner to tag this for 1.3, until then you can use the master branch or reference that commit. :)

[2020-11-05 16:27] RVxLab commented on #23
Hi @bolechen

This fix has been released in 1.3.0. Thanks for your bug report and your screenshots.

[2020-11-05 16:27] #23 closed

[2020-11-09 18:41] jkudish opened #120 "Switching tabs causes a full page refresh"
Hey there,

I'm using the latest version of Nova and the latest version (1.3.0) of this package and switching tabs is now causing full page refreshes instead of a partial reload of the tab like it's supposed to. Here's a video illustrating the issue:

https://dsc.cloud/sparkdev/CleanShot-2020-11-09-at-10.36.32.mp4

I tried:

* Composer update
* Clearing browser cache
* `php artisan nova:publish`

[2020-11-10 06:31] muddymatches commented on #113
This is fixed as far as I can tell in 1.3.0.

[2020-11-12 15:59] Yann-BUTSCHER-EIRL commented on #28
Hello.
Do you have any updates on this ?

As much as we like your package, this kind of bugs makes us wonder if it would be easier to not use it.

Thanks anyway for all the work you've put in it.

[2020-11-15 10:14] RVxLab commented on #120
I have a hunch this happens during the URL update when you switch tabs since it edits the query string.

I'll need to do a bit of research.

[2020-11-15 10:20] RVxLab commented on #113
I'll close this issue for now under the assumption it's fixed. If the issue is still there then please reopen.

[2020-11-15 10:20] #113 closed

[2020-11-15 13:23] RVxLab commented on #120
I'm unable to reproduce this in Chrome and Firefox using 1.3.0 and Nova 3.15 in the way you're stating. However I do notice that nova shows a loading bar in the top of the window which may indicate a reload.

I'm gonna need some more info regarding your setup on this.

[2020-11-15 14:18] RVxLab commented on #28
Okay first of all, I'm sorry that I took this long to address this issue. Poor form on my part.

As for the issue, yes I found the problem and implemented a fix, see #59 and commit 55237f38750529a8daac16d8c37b125c91338d18.

I'm tagging 1.3.1 with this fix.

[2020-11-15 14:18] #28 closed

[2020-11-17 01:36] asivaneswaran opened #121 "The search bar not position correctly Nova 3.15.0"
After the update to Nova 3.15.0, I have an issue with tabs that have a search bar:
<img width="680" alt="Screen Shot 2020-11-16 at 20 35 41" src="https://user-images.githubusercontent.com/2759350/99329077-76757700-284b-11eb-951a-1c4b1f44ff39.png">

[2020-11-18 19:00] RVxLab commented on #121
I'll take a look this weekend, may be a margin issue.

[2020-11-18 19:01] RVxLab opened #122 "PHP 8 support"
With the upcoming PHP 8 release, support should be ensured.

If you run into any issues regarding PHP 8, post them here.

[2020-11-18 20:06] DavidPuzder opened #123 "Problem with sidebar button"
On sidebar is not clickable Settings button with laravel nova v3.15.0
![Screenshot_1](https://user-images.githubusercontent.com/36508590/99582050-d867e500-29e1-11eb-9228-7d223efeb5b4.png)

[2020-11-19 08:46] preliot opened #124 "1.3.0 Removes query arguments from url"
Version 1.3.0 adds ?tab=<name-of-tab> to the url. The issue is it replaces any existing query string, which breaks any code that relies on that query string. Would be better if something like this is done:

1. Retrieve query string, put in array
2. Replace existing tab / add new tab=<name-of-tab>
3. Implode array to url

[2020-11-19 11:25] RVxLab commented on #124
Crap, I didn't think of that when merging the PR for this. Thanks for your report, I'll take a look over the weekend.

[2020-11-19 11:27] RVxLab commented on #123
Could you provide a way so I can accurately reproduce this?

[2020-11-19 12:09] preliot commented on #124
@RVxLab No worries! And thanks for taking some time for this in the weekend, i appreciate it!

[2020-11-22 10:38] #121 closed

[2020-11-22 10:38] #124 closed

[2020-11-22 11:57] RVxLab commented on #124
@preliot Your issue has been fixed, please update to 1.3.1.

[2020-11-23 09:05] preliot commented on #124
Can confirm it's fixed, thanks!

[2020-11-23 18:34] jkudish commented on #120
Hey @RVxLab

Thanks for getting back to me. Sorry I didn't see your reply right away.

I just tried again with 1.3.1 and the issue persists. In hindsight, and after looking at the network tab in the chrome dev tools, I do see that it does not do a full page refresh. However, yes it shows the loading bar, and temporarily hides all of the components pages, and reloads every component on the page, re

[2020-11-24 11:24] RVxLab commented on #120
A generalized list of your setup would be helpful. I'm trying to find out whether this has something to do with the way Nova uses the Router. As Nova Tabs updates the query string, I wonder in what way either Nova, or maybe some other package you use, reacts to it.

[2020-11-25 16:51] mikhi opened #126 "Error: Unexpected end of input. tabs:1 - help wanted"
Hi,

i made an update from laravel 6 to laravel 7, and from nova 2.x to 3.15.0

On create and edit forms, no inputs are displayed, and in console i get the following error:

*Uncaught SyntaxError: Unexpected end of input.  tabs:1*

![image](https://user-images.githubusercontent.com/1406293/100258001-3602b100-2f4f-11eb-8ac3-0b8ac478ccff.png)

![image](https://user-images.githubusercontent.com/14062

[2020-11-25 19:23] jkudish commented on #120
I tried this with a clean install of Laravel & Nova and you're right that there's no issue there. I spent a little bit of time trying to isolate the issue with some of the packages and custom code we have in use, but couldn't quite pin-point the issue. I'll leave this be for now as I don't think there's a generalized issue in your package, but I might come back if I do end up finding the culprit a

[2020-11-25 19:31] #120 closed

[2020-11-25 21:01] RVxLab commented on #120
If you do find what's wrong I'd love to know.

Thanks for opening this issue, feel free to reopen this when needed.

[2020-11-25 21:07] RVxLab commented on #126
Doesn't seem like an issue with nova-tabs directly. I'm gonna need way more info than this.

Which version of the package are you using?

If using the latest (1.3.1 as of now), did you follow the Nova upgrade guide?

If so, please compile nova-tabs' JS for development:

- `cd vendor/eminiarts/nova-tabs`
- `yarn` (or `npm i`, `yarn` is preferred)
- `yarn dev`

Optionally, compile Nova's assets for

[2020-11-26 10:10] mikhi commented on #126
Hi @RVxLab
i use
"laravel/framework": "^7.0",
"laravel/nova": "*", - the version is 3.15.0
"eminiarts/nova-tabs": "^1.3"

i also use
Valet with
PHP 7.4.12
MYSQL  Ver 8.0.22 for osx10.16 on x86_64 (Homebrew)

I followed your advice to compile nova-tabs and also to recompile nova assets, but the result is the same.

[2020-11-26 11:14] RVxLab commented on #126
Naturally this will not be a magic fix, this should however give you some more debug output. Can you post that?

[2020-11-26 13:13] mikhi commented on #126
Your right, is not a magic fix.
However, I isolated the problem. It seems that the trait TabsOnEdit breaks the form.

If i use the TabsOnEdit trait the error below is displayed in console:
![image](https://user-images.githubusercontent.com/1406293/100354954-9bab7780-2ff9-11eb-9e23-7fc03009ce16.png)

[2020-11-26 13:36] RVxLab commented on #126
That's very odd, [this component is most definitely registered.](https://github.com/eminiarts/nova-tabs/blob/master/resources/js/field.js#L3)

Is the script being loaded correctly? Please ensure that the service provider is loaded and that the script is being loaded correctly.

[2020-11-26 16:18] mikhi commented on #126
Sorry for being dumb, but i don't know how to check if the scripts are loaded correctly.  Also the service provider is not automatically loaded by Laravel?
I have downgraded nova from 3.15.0 to 3.8.4, but the result is the same.

If i use tabs on Details or in form using TabsOnEdit trait the screen in blank.

Ex:
**Details screen**
![image](https://user-images.githubusercontent.com/1406293/1003724

[2020-11-26 17:45] RVxLab commented on #126
So far it looks like the script isn't loaded in.

Can you see the script?

[code]

[2020-11-26 19:14] mikhi commented on #126
Pfff... Thank you for opening my eyes. Somehow that was the problem...
In details: I use  "renatomarinho / laravel-page-speed" package that removes unnecessary whitespace in HTML. This package is used in frontend, but it also affects the backend...

The results is something like:

![image](https://user-images.githubusercontent.com/1406293/100385404-28225e00-302b-11eb-9401-ea50e536728b.png)

i supp

[2020-11-26 19:20] RVxLab commented on #126
I'm glad to know you found the issue. It's good to keep a note that `renatomarinho/laravel-page-speed` can cause this.

You're very welcome! If there's anything else, feel free to let me know.

[2020-11-26 19:20] #126 closed

[2020-11-29 20:19] martio opened #127 "How to customize a tab name in a URL?"
How to customize a tab name in a URL?

Instead of: "http://localhost/admin/resources/users/1?tab=Aktywno%C5%9Bci" there must be: "http://localhost/admin/resources/users/1?tab=activities"

[code]

[2020-11-30 10:30] RVxLab commented on #127
Currently this is not possible. It's dictated by the tab name.

This is a good idea to have though. If you want to create a PR for this feel free to do so. Otherwise I'll take a look next week.

[2020-12-03 14:03] keironwaites commented on #127
Came here to vote for this. Please see the attached photo for a real world use-case. I include a record count in my tab name which will change over time and cause the tab deep linking to become unreliable.

<img width="868" alt="Screenshot 2020-12-03 at 13 59 53" src="https://user-images.githubusercontent.com/23054272/101027611-221f0680-3570-11eb-8edf-901003b9e181.png">

[2020-12-03 16:25] RVxLab commented on #127
I definitely agree that this is a very good improvement. As I'm gonna be busy this weekend, I will take a look next week. However, for backwards compatibility reasons this would not be enabled by default.

This is how I would likely implement this:

- Add a slug method to the `Tab` which accepts a nullable string.
- The `$slug` property would default to the sluggified name.
- Then it'll be passed

[2020-12-03 16:34] keironwaites commented on #127
Sound plan.

[2020-12-03 17:02] keironwaites commented on #127
I am working with tabs now to validate actions within authorizedToCreate(). It would be imperative for me that $request->tab contained the $slug value.

This is probably already the planned approach but I wanted to make a point of it just in case.

Thank you.

[2020-12-10 16:05] Marianne00 commented on #71
+1 pls

[2020-12-10 18:45] Marianne00 commented on #71
it's just a simple overflow-x-auto, guys

![image](https://user-images.githubusercontent.com/21253453/101815704-e4674280-3b5a-11eb-8fc4-86f67c497024.png)

[2020-12-11 08:12] RVxLab commented on #71
@Marianne00 I'm taking some time this weekend to look at this. If it's this simple then I'll take it along.

[2020-12-11 13:31] bernhardh opened #129 "RFC: Make it much more customizable"
I know this was part of the cleanup / make it easier some time ago (v1 I think), but why not work (optionally) with an objects instead of plain array structure? It would make customization (like in #127, #79, #72, #58) much easier. Something like this:

[code]
where `TabItem` would be a new class of this package, holding the fields. To keep it backward compatible, you could also allow to use the "

[2020-12-11 15:38] RVxLab commented on #129
I actually really love this idea. It would take a bit to implement and needless to say this will not be possible without actually adding some unit tests (which are also planned). I'll look into this.

[2020-12-11 15:44] bernhardh commented on #129
If you need any help, don't hesitate to ask.

[2020-12-13 13:15] RVxLab commented on #127
Alright so I had a look. In the current state of the package this isn't possible. However with the ideas mentioned in #129 this would be made possible. I'm going to need to write this one out and plan this correctly as this would be a MASSIVE change.

I'll keep this issue open for the time being and refer to it when I'm ready to post an issue to address #129.

[2020-12-14 05:54] RVxLab opened #130 "Implementation for Tab object"
Branch: https://github.com/eminiarts/nova-tabs/tree/feature/tabs-object

Implementation for the proposal in #129

To implement a `Tab` object I propose the following interface:

[code]
## Macroable

The `Tab` class would implement the `Illuminate\Support\Traits\Macroable` trait to implement macros.

However, if deeper adjustments are required, it would be better to extend the `Tab` class or make a

[2020-12-14 08:42] dgerrese opened #131 "Add support for custom index toolbar"
Nova has an undocumented feature: the custom-index-toolbar
https://github.com/laravel/nova-issues/issues/786#issuecomment-427062954

It would be nice to have support for this feature in nova-tabs.

[2020-12-16 14:18] bernhardh commented on #131
I would recommend to include/use my package for this: https://github.com/bernhardh/nova-dynamic-views instead of overwriting the `custom-index-toolbar` / `custom-detail-toolbar`, etc. by yourself.

[2020-12-16 14:21] bernhardh commented on #130
As requested in #129 I would also add a `tabClass` and a `bodyClass`, so that you can give each tab and tab-body an individual style (for example background color) if needed).

[2020-12-21 21:06] terry-greenlaw opened #132 "Need help with showTitle()"
I'm trying to display the default Nova title and toolbar on the detail page, with my non-relationship fields in one tab, and a tab for each relationship.
I haven't been able to figure out the right combination of showToolbar(), showTitle(), and panel usage to get the default Nova title to show.
Does anyone have an example they could share?

[2021-01-01 11:40] RVxLab opened #133 "Remove yarn.lock from repo"
Lock files are not supposed to be in a library anyway.

[2021-01-06 10:30] RVxLab commented on #130
@bernhardh Those requests have been added to the interface above.

[2021-01-12 21:31] TreeNode commented on #116
I do this...
[code]

[2021-01-19 20:15] Marianne00 commented on #71
Hi guys! Any updates on this?

[2021-01-20 11:27] RVxLab commented on #71
Unfortunately I didn't find the time to look at this, as well as being busy with a major update. I do plan to rework the UI components quite a bit.

If you want to submit a PR for this, please feel free to do so.

[2021-01-26 19:30] RVxLab commented on #130
The new `Tab` class has been implemented into the `Tabs` class and can now be used.

For those willing to try it out, you can use the feature/tabs-object branch. Mind you that at this time only the following fields are functional:

- `showIf`
- `showUnless`
- `name`

I will add the new properties to the Vue side soon.

[2021-01-27 01:13] navidnadali opened #136 "Cannot create resource from relationship tab (issue occurring again since new update)"
Hi @bajramemini , Great package and thank you

The first issue ever created ( #1 ) is now reoccurring and can be reproduced in exactly the same way since one of the new updates (or maybe since a nova update?)..

Thanks
Navid

[2021-01-27 05:03] RVxLab commented on #136
Hi Navid, could you provide me a stack trace, as well as package, Nova and PHP version?

Thanks

[2021-01-29 06:18] Piusha opened #137 "Relevent Tab is not getting highlighted after modifing / attaching the data"
I have 2 tabs
1st tab is for genral information 2nd tabs is for attaching countries (BelongsToMany::make('Countries'))

After I attached countries it isalway navigating to the Genral information tab. Not for the country tab. I want it to be in Country tab as I modified data from Country tab.
Is there any posible way to do that?

Nova version : 3.20.0
eminiarts/nova-tabs version : 1.3.1

[2021-01-29 06:38] RVxLab commented on #137
Does the `?tab` querystring disappear after redirect?

[2021-01-29 06:40] RVxLab commented on #132
I’m not exactly sure what your question is. Can you please elaborate?

[2021-01-30 21:25] #133 closed

[2021-01-30 21:25] #71 closed

[2021-01-30 21:25] RVxLab commented on #130
This is now available in master.

[2021-01-30 21:25] #130 closed

[2021-01-30 21:25] #129 closed

[2021-01-30 21:28] RVxLab commented on #127
This has been implemented with the new `Tab` object and is available in master. I'm not ready to tag this yet as I'm still wanting to do some updates and fixes. Until 1.4.0 you can use `dev-master`.

[2021-01-30 21:28] #127 closed

[2021-01-30 21:29] RVxLab commented on #58
This has been implemented with the new `Tab` object (see `showIf` and `showUnless`). It's available in the master branch and will be released with 1.4.0.

[2021-01-30 21:29] #58 closed

[2021-01-30 21:33] RVxLab commented on #80
Doesn't seem to be an issue in Nova 3.x.

[2021-01-30 21:33] #80 closed

[2021-01-30 21:33] #72 closed

[2021-01-30 21:34] RVxLab commented on #94
With the latest changes in master (to be released in 1.4.0) this should no longer be an issue.

[2021-01-30 21:34] #94 closed

[2021-01-31 09:25] #122 closed

[2021-01-31 14:43] elijahworkz commented on #85
I added a pull request that solves this issue. #139

[2021-02-02 19:03] RVxLab commented on #112
Sorry it's been a long time since I said I'd look into it.

With my latest changes (to be released in 1.4) this should be fixed. Could you verify this is now working on the master branch?

Thanks.

[2021-02-02 19:04] #85 closed

[2021-02-02 19:50] #112 closed

[2021-02-02 21:05] RVxLab commented on #123
Closed due to inactivity.

[2021-02-02 21:05] #123 closed

[2021-02-03 09:19] bernhardh opened #140 "JSON Fields aren't working anymore"
Since your last updates, JSON Fields (for example https://github.com/armincms/json field, but probably similar as well) are broken. I am getting `Undefined property: Armincms\Json\Json::$panel` in `vendor/eminiarts/nova-tabs/src/Tabs.php:50`:

[code]

MergeValues doesn't have to have defined `panel`'s, right?

[2021-02-03 09:23] RVxLab commented on #140
Damn, didn't think of that one. This was a fix intended for #112.

A simple `property_exists` check should fix that. I'll fix it tonight and provide a 1.4.1 for it.

[2021-02-03 09:28] bernhardh commented on #140
Correct. I have fixed it with `if ($field instanceof MergeValue && isset($field->panel)) {`. Should I do a PR for it or is it easier if you fix it yourself?

[2021-02-03 09:34] RVxLab commented on #140
That line would undo the fix mentioned. I'll take care of it.

Thanks for the bug report and sorry about this.

[2021-02-03 13:02] bmoex opened #141 "Tabs with HasMany conflicts in 1.4.0"
Since upgrading from 1.3.1 to 1.4.0 the following error occurs on the overview for a model where this is configured as such;

Error message:
`
[2021-02-03 12:22:21] local.ERROR: Argument 2 passed to Eminiarts\Tabs\Tab::__construct() must be of the type array, object given, called in /var/www/html/vendor/eminiarts/nova-tabs/src/Tabs.php on line 174 {"userId":"<myid>","exception":"[object] (TypeErro

[2021-02-03 13:13] RVxLab commented on #141
Looks like an oversight in type checking as this should be possible. I'll take a look tonight.

As a workaround you can either wrap those in an array or a `Tab` object like so:

[code]

Or until then you can downgrade to the previous version.

Thanks for the report and sorry about the inconvinience.

[2021-02-03 19:01] #140 closed

[2021-02-03 19:01] #141 closed

[2021-02-03 19:04] RVxLab commented on #140
I just released v1.4.1 to address this issue. Thanks again for your report.

[2021-02-03 19:05] RVxLab commented on #141
v1.4.1 has just been released to address this issue. Thanks for your report.

[2021-02-17 11:00] mariusghitoiu opened #142 "Issue with belongsToRelations in version 1.4.1"
After updating to version 1.4.1 with with any version of nova from 3.19* up to 3.22 the following error occurs:

[code]

[2021-02-17 11:06] RVxLab commented on #142
I'm gonna need a bit more info on this one.

Is this with a built in field of Nova or an external package?

[2021-02-17 11:15] mariusghitoiu commented on #142
This is a nova field, a the belongsTo field.
I basically have this dropdown which should populate with a list of Counties.

<img width="1215" alt="Screen Shot 2021-02-17 at 1 12 01 PM" src="https://user-images.githubusercontent.com/147089/108196400-bf2a1e00-7121-11eb-9d0c-3a9479af7719.png">

Here is the code to create the field.

<img width="908" alt="Screen Shot 2021-02-17 at 1 11 30 PM" src="htt

[2021-02-17 11:18] RVxLab commented on #142
Alright thanks for the report. I'll take a look.

[2021-02-17 11:21] mariusghitoiu commented on #142
Thank you for looking into it.

[2021-02-17 18:18] RVxLab commented on #142
I had a look and I'm unable to reproduce the issue with the information you gave.

Can you provide a minimal example that can reliably reproduce the issue?

[2021-02-17 18:37] ziming opened #143 "2nd Tab group onwards doesn't work from nova-tabs 1.4.0 onwards"
2nd Tab group onwards doesn't work from nova-tabs 1.4.0 onwards

I'm on nova 3.22

See screenshot below (1st tab group worked, 2nd tab group doesn't and it's just stacked vertically). I had to downgrade to nova-tabs 1.3.1 temporarily

https://share.getcloudapp.com/kpu7nQnB

[2021-02-17 18:42] RVxLab commented on #143
Please provide a minimal example for me to reproduce this.

[2021-02-17 18:47] ziming commented on #143
Here you go. The fields method

https://share.getcloudapp.com/GGu6pL82

[2021-02-17 19:28] RVxLab commented on #143
Not what I meant, but figured it had something to do with Morphs so I created a many-to-many relation as such:

User - Consumable - Drink

Migrations look as follows:

[code]

Tab shows up as expected:

![image](https://user-images.githubusercontent.com/46111684/108256945-67f66e80-715e-11eb-80f1-5480e9f3da76.png)

I really need a minimal **code** example with steps to reproduce the issue.

Additio

[2021-02-18 17:03] C14r commented on #132
I think he is trying this:

One tabs field on the ressource display (no normal field above the tabs).

- First Tab: one Panel with different fields
- Second Tab: Relation
- Third Tab: Relation
- ...

And then he wants to show the "normal" title and buttons on the page. If you use showToolbar() the default title of the page is not showing, instead the provider title is shown.

[2021-02-22 04:42] ziming commented on #143
Hi,

Here is more code

https://share.getcloudapp.com/4gu1K0rG

And here is a bigger screenshot

https://share.getcloudapp.com/9Zu8meRy

As you can see in the screenshot above, after the 1st tab group. from the 2nd tab group onwards it just goes vertically down instead of being proper tab items. When I downgrade to nova tabs 1.3.1 it works again. But not on 1.4.0 and above.

Hope it helps!

[2021-02-22 05:12] RVxLab commented on #143
This all should look like it should work. Your tabs are in a format that’s supported.

Are those panels nested? If they are, please explain in what way. While nested panels should be supported, I didn’t test for that.

I’m suspecting that this is a client side error. Are you getting JS errors? If so, can you compile Nova’s assets in for development and send me the errors in the console?

On top, w

[2021-02-22 05:55] ziming commented on #143
The panels are not nested, the method calls (e.g. $this->userFields()) simply returns an array of fields.

Hmm how do i compile nova assets in development? For now i just check browser console in production & my machine & there are no browser console errors.

[2021-02-24 10:48] OmarMarie opened #144 "Trait makeable not found"
Trait 'Laravel\\Nova\\Makeable' not found at /var/www/laravel/dashboard/vendor/eminiarts/nova-tabs/src/Tab.php:20

[2021-02-24 11:10] RVxLab commented on #144
This is not particularly helpful.

Make sure the trait exists or provide more info.

[2021-02-24 11:12] RVxLab commented on #143
If you’re not getting console errors then it’s unlikely to be a JS error. I’m releasing a small patch tonight which will fix a tab selection issue.

If that doesn’t fix your issue then I need you to provide me a minimal **code** example with exact steps to reproduce your issue.

Please stop sending screenshots of code.

[2021-02-24 11:16] #144 closed

[2021-02-24 11:16] OmarMarie commented on #144
[](url)

[2021-02-24 14:09] thijskuilman commented on #137
This is something I've also encountered. I solved it by overwriting the `redirectAfterCreate()` and `redirectAfterUpdate()` in `app/Nova/Resource.php`. I've added a bit of code that appends the ?tab query string if you're coming from a relationship tab.

Here's the code:

[code]

[2021-02-25 08:17] edisonchow88 opened #145 "Tab Cannot Handle Chinese Character as Title"
Suggestion, update the class Tab with following methods:

{
    public function getSlug(): string
    {
        return $this->to_slug($this->getName());
    }
    public function to_slug($string, $separator = '-') {
        $re = "/(\\s|\\".$separator.")+/mu";
        $str = @trim($string);
        $subst = $separator;
        $result = preg_replace($re, $subst, $str);
        return $result;

[2021-02-25 11:13] RVxLab commented on #145
This is not a solution I'll be taking, I'm against suppressing errors.

Please provide a stack trace with an example to reproduce this.

[2021-02-25 11:31] RVxLab commented on #145
This likely has to do with the fact that `trim()` is **not** multibyte-safe. This should be fixable by only using a regex and only strip whitespace characters from the start and end.

[2021-02-25 13:37] C14r commented on #33
Any news on this issue?

[2021-02-25 14:22] asilverstein commented on #33
I was able to slightly improve things by adding the following CSS to get the tabs to at least wrap to a second row:

[code]

[2021-02-28 12:44] RVxLab commented on #145
I had a look and wrote a test with Chinese (traditional and simplified), Japanese and Korean. Unexpectedly, these tests pass and make the slug an empty string. See [this commit](https://github.com/eminiarts/nova-tabs/commit/fee5dc6aabc5db25a22218cc5f26c1b166b4397a).

As I don't speak any Asian language at all I'm gonna need you to do (at least) one of the following:

- Provide a code example which

[2021-02-28 12:48] RVxLab commented on #143
I just published v1.4.2 which fixes an issue with multiple tabs causing only 1 tabs panel to show up if any tab is selected.

I believe this may fix your issue. If it does not, please reopen this.

[2021-02-28 12:49] RVxLab commented on #142
Closed due to inactivity. Please reopen is this is still an issue for you.

[2021-02-28 12:49] #142 closed

[2021-02-28 14:29] ziming commented on #143
I can confirm 1.4.2 does not fix this issue

[2021-02-28 14:30] RVxLab commented on #143
Then please provide me a code example with a reliable way to reproduce this.

Do not send me a screenshot.

[2021-03-01 06:35] ziming commented on #143
My friend will invite you to a private repo later. Thanks!

[2021-03-01 09:00] imnpc commented on #145
Tabs has something wrong ，tab > 1
1. work ok,URL/ID?tab=contact
[code]
2. work wrong,because URL/ID?tab=???  is empty
[code]
3.work ok,but all tab title font-size is strong
[code]

[2021-03-01 11:41] RVxLab commented on #145
@imnpc The 2nd example you gave won't work because `Str::slug` returns the title as an empty string (see my previous message). This isn't something neccessarily wrong with the package, this is simply because of how that method works.

If you know of an alternative that can deal with non-ascii characters to resolve this I'm all for it. Until then the best way to fix this is to wrap everything into

[2021-03-02 17:13] slavicd commented on #20
Why has this been closed without actually being fixed?

[2021-03-07 12:02] kfvit-andreaskviby commented on #144
Hey, this has just happened to me as well.

[2021-03-07 12:57:24] local.ERROR: Trait 'Laravel\Nova\Makeable' not found {"userId":1,"exception":"[object] (Symfony\\Component\\Debug\\Exception\\FatalErrorException(code: 1): Trait 'Laravel\\Nova\\Makeable' not found at /Users/andreaskviby/Code/wulffcrm2/vendor/eminiarts/nova-tabs/src/Tab.php:20)

There is nothing except Laravel Nova that has been upd

[2021-03-07 12:15] RVxLab commented on #144
@kfvit-andreaskviby What version of Nova are you using?

I would've checked the sources in the repo, but they're no longer accessible.

2 people with this issue makes me think I'm targeting a version of Nova higher than intended.

[2021-03-07 12:25] kfvit-andreaskviby commented on #144
Hey there!
I believe this is something that will occur on an old version of Nova but still you will have to remove the use Makeable on new versions of Nova to make your tabs work as intended.

I am nov using Laravel Nova 2.12 and when removing use Makeable in Tab.php it works.

[2021-03-07 12:26] RVxLab commented on #144
More or less what I was suspecting. I didn't realize that Makeable wasn't available until some time in 3.x.

Please check the referenced commit above, I'll publish 1.4.3 soon.

[2021-03-07 12:29] kfvit-andreaskviby commented on #144
Fantastic work! Both here and on Filament :)

[2021-03-07 12:30] RVxLab commented on #144
Thanks! But I don't do anything on Filament (yet).

[2021-03-07 12:34] kfvit-andreaskviby commented on #144
Ah, okey. My misstake :)

[2021-03-07 13:03] RVxLab commented on #143
I cloned your repo and had a look, but nothing seemed strange here.

In the code you had the following comment

[code]

But that message was removed in [this commit](https://github.com/eminiarts/nova-tabs/commit/6f1c9d4121828ef7aac52eebdc4fca06ec38cf88#diff-5cb860a8d1d627d1af91ddf54561464639c71057c036d484c5220edd661cb8ffL70).

Furthermore I have not been able to reproduce your issue, it all looks

[2021-03-07 13:03] #143 closed

[2021-03-07 13:06] RVxLab commented on #144
I just tagged 1.4.3 that fixes this issue.

I'm sorry for the inconvenience this caused, I was not aware that `Makeable` was not available until 3.x.

[2021-03-08 05:33] stephanus-stuff commented on #143
as you can see from your screenshoot, in 1.4 it stacked, expected result is like in the yellow circle (1.3)
![image](https://user-images.githubusercontent.com/52034225/110278469-e2056f00-8009-11eb-8b0c-bf5eb71e6c59.png)

[2021-03-08 05:34] RVxLab commented on #143
Remove the wrapping array or put every field in its own array/Tab.

[2021-03-11 09:40] MB116 commented on #120
Hello everyone!
I have the same problem, have you found a solution?

[2021-03-12 04:09] MB116 opened #146 "Switching tabs causes a full page refresh"
I apologize for the duplicate question, but the problem is urgent and, unfortunately, so far without a solution.

I seem to have found the reason for reloading the page when switching tabs.

When we go to editing the resource, the URL by silence "/articles/116/edit", after clicking on the tab, the URL is converted to "/articles/116/edit?tab=material", which causes the page to be updated.

Is there

[2021-03-12 05:12] RVxLab commented on #146
When you click on a tab after handling the switching the URI is updated to remember the current tab. The only thing I did to make that happen is simply updating the query string.

See [this file](https://github.com/eminiarts/nova-tabs/blob/master/resources/js/util/tab-updater.js) for the bit that deals with that.

The only thing I can think of that could remotely cause this is Nova picking up the

[2021-03-18 11:12] renzo-s commented on #120
Use your Vue devtools routing tab to debug this and take notice of any differences in params and types!

I had the same issue, and I noticed the `resourceId` I used to navigate to the main page with tabs was an `int`. But when the tabs navigated between each other, the `resourceId` was a `string`. So I updated my router link and the issue was gone 🎉.

For example:

[code]

[2021-03-18 15:29] RVxLab commented on #120
@renzo-s Very interesting observation. I'm now wondering if this happens because of the query string update that happens when clicking on a tab. I'll try to investigate this over the weekend.

[2021-03-22 18:41] RVxLab commented on #120
I had a look and to find out I had to do look in the Nova sources and this looks to happen in Nova's subscriptions to the Vue Router. So far it looks like that short of taking this feature out and turning it into something from localStorage, this isn't something that seems to be fixable.

[2021-04-08 16:58] lifeblood opened #148 "tab error display"
new Tabs('test', [
                '基本信息' => [
                    Code::make('Nginx反向代理', 'reverse_proxy')
                        ->onlyOnDetail()

                        ->language('nginx'),
                ],
                '配置模板' => [

                    Code::make('Haproxy + Consul', 'ha_proxy')
                        ->onlyOnDetail()

                        ->language('nginx'),

[2021-04-08 17:02] RVxLab commented on #148
Possibly related to #145.

I’m gonna need more info than this.

[2021-04-21 16:31] bdsoha commented on #112
Doesn't work any translation.

[2021-04-22 03:24] #148 closed

[2021-04-23 22:27] scramatte opened #149 "Show panel title without toolbar ?"
Hello,

I've got various group of tabs in my resource.
I need to be able to show title group without toolbar.

[2021-04-24 04:20] RVxLab commented on #149
Sounds like you’re asking for [this](https://github.com/eminiarts/nova-tabs/issues/131).

Feel free to submit a PR to add this.

[2021-05-01 19:00] philipbaginski opened #150 "Default tab when creating."
I have a issue: when creating resource with tabs modal opens with second tab, not the first one. I have 4 tabs, with different names.

EDIT: On second tab I have fields with creating buttons to create BelongsTo resource. Any idea how to open modal under first tab?

[2021-05-08 22:55] amidesfahani commented on #28
+1 and same issue

[2021-05-14 09:20] semsphy opened #151 "Tab doesn't display"
Hello There,

Currently, I'm using the `nova v3.25.0`, I have no way out to this problem, it is very obvious just follow the README, but I have no luck to get it works.

I just copied and pasted it into my resource, and I got this output without tabs and checked there is javascript error or any exception.

![image](https://user-images.githubusercontent.com/423396/118249722-e2215f80-b4cf-11eb-84c8-

[2021-05-14 13:12] SquareBeard commented on #146
I have noticed the same problem when editing resources.
You must first click on another tab before filling the first one, or all the data will be lost when switching tabs because of the reload.
Is there a way to disable this behaviour ? I don't think I care about saving the active tab in the url. But I do care about loss of data.

[2021-05-14 13:17] RVxLab commented on #146
There is currently no way to disable this, but since this is causing some major issues with reload I think it's better to sunset the updating URL entirely and move it to local or session storage.

I'll try to take a look this weekend.

[2021-05-14 13:18] RVxLab commented on #151
What does your fields method look like?

[2021-05-14 13:27] SquareBeard commented on #146
A quick and dirty fix would be to set the `tab` parameter if it is missing immediately after the page load. I will try to do that for now.
A nicer way would be to have the `tab` parameter in the url of the edit link but I'm not sure you can change that.
Or as you said, store it somewhere else.

[2021-05-14 13:30] RVxLab commented on #146
There is very little I can do to impact this as it's part of Nova's core. Moving it to storage seems like the best option at this time.

Try that workaround for the time being.

[2021-05-14 13:35] semsphy commented on #151
@RVxLab  it is super simple, I just copied from README.

[code]

[2021-05-15 17:36] RVxLab commented on #151
This looks perfectly fine. This is giving me the idea the JS isn't loading correctly. Please double check the console.

[2021-05-15 17:37] RVxLab commented on #150
I have no idea what your question really is. What do you mean with modal here?

[2021-05-16 14:00] RVxLab commented on #146
I attempted to have a look at this but couldn't find the time to properly do so.

If you want to have a go at it then feel free to submit a PR.

[2021-05-18 10:52] SquareBeard commented on #146
Meanwhile here is my dirty fix:
[code]

[2021-05-18 11:51] TomOudeRengerink commented on #28
Hey any updates on this? @RVxLab you mentioned it fixed in #59. Does not seems to work (anymore).

[2021-05-18 12:07] sp4r74cus commented on #151
i get exactly the same. no errors in the console. and the script is loading fine via nova-api url. (/nova-api/scripts/tabs)

Nova v 3.25.0
php 7.4

[2021-05-18 12:09] semsphy commented on #151
I did check and there was no error in the console.

[2021-05-18 12:10] semsphy commented on #151
Mine is on PHP 8.0.3 and Nova v3.25.0

[2021-05-18 12:11] RVxLab commented on #151
Over the weekend I also managed to run into this issue on Nova 3.25, but wasn't able to find a cause.

I'd be more than willing to accept a PR for this as this is incredibly confusing and I don't really have the time to look into it.

[2021-05-18 13:45] semsphy commented on #151
Understood and really appreciate!

[2021-05-18 13:47] semsphy commented on #151
FYI, I am using your tab in [nova-settings](https://github.com/optimistdigital/nova-settings) and it works fine.

[2021-06-02 15:40] terry-greenlaw commented on #132
I found the solution in a closed issue. Passing $this->title() to make() does what I was looking for. Closing as resolved.
Tabs::make($this->title(), [...

[2021-06-02 15:40] #132 closed

[2021-06-02 21:29] Blindmikey commented on #151
Is TabsOnEdit being used?

[2021-06-07 17:59] hashmaldives commented on #151
Works well with [Optimist Digital Nova Settings Package](https://github.com/optimistdigital/nova-settings) but does not render tabs on a default nova resource. Any solution for this?

[2021-06-07 18:27] Blindmikey commented on #151
Once my Resource used TabsOnEdit this issue was resolved. Is this not the case in your usage?
[code]

[2021-06-07 19:08] hashmaldives commented on #151
Works perfectly. Thank you :)

[2021-06-16 02:03] mgralikowski opened #152 "Not access to current resource on edit in fields() method"
[code]

I losing access to resource objects during validation (updating action in nova) when I use the `TabsOnEdit` trait, under the property, the eloquent model is still there but empty. Removing trait makes it works again. Resource object is helpful, for example, I would use it as an exception in a unique rule.

[2021-06-16 20:20] RVxLab commented on #152
I’ve seen something happen like this before during the use of actions, so I’m a bit doubtful this is due to the trait.

Can you provide some more info on this? What exactly did you do to come to this conclusion?

[2021-06-24 03:51] rela589n opened #153 "way to define lenses for relations on the tab"

[2021-07-12 02:07] julianpoma opened #156 "Version 1.4.5 No tab render"
After update to 1.4.5 the tabs dissapear. Downgrade to 1.4.4 and clear cache in browser the tabs render OK.

[2021-07-12 04:01] RVxLab commented on #156
Agh I must have messed something up in the production build. Sorry about that. I’ll make a fix as soon as I can.

[2021-07-12 04:19] RVxLab commented on #156
Really odd. The tab on edit works fine but on the details page it's not showing up. No console errors.

[2021-07-12 04:49] RVxLab commented on #156
Had a further look but I can't seem to find a clear cause. When I build Nova for development or production by hand it works fine. It might be something with the build process but I don't know at this time.

Keep downgraded to 1.4.5 for now. I'll need to take a look later.

[2021-07-12 05:00] RVxLab commented on #156
My observations so far:

- The tab component is mounting
- The root div is rendered
- The rest of the template is not being rendered

[2021-07-12 08:43] mstaack commented on #156
Same here, latest 1.4.5 version shows no tabs anymore

[2021-07-12 08:44] RVxLab commented on #156
Downgrade to 1.4.4 for now.

[2021-07-12 16:39] RVxLab commented on #156
I released 1.4.6 to address this issue, upgrade to that.

Until a future release the changes introduced with #155 won't be available.

[2021-07-12 16:39] #156 closed

[2021-07-12 16:45] RVxLab opened #157 "[1.4.5] Production builds break details page"
Since attempting to put the changes of #155 in a release the production build files break pretty hard on the details page.

`app/Nova/Post.php`:

[code]

1.4.5:
![image](https://user-images.githubusercontent.com/46111684/125325378-251d7900-e341-11eb-8a3b-7c78bf59e9e5.png)

1.4.6:
![image](https://user-images.githubusercontent.com/46111684/125325417-32d2fe80-e341-11eb-9ca8-9aaf531055d9.png)

So far

[2021-07-13 14:04] PCodrin opened #158 "Cannot delete files from file fields"
![image](https://user-images.githubusercontent.com/6823415/125467068-44ba46b6-6e68-43ce-90ff-82687d810d32.png)

[2021-07-13 14:08] PCodrin commented on #158
![image](https://user-images.githubusercontent.com/6823415/125466654-1e26ae7d-a420-47e9-b3f4-27ea3f4d34f0.png)

[2021-07-14 10:05] MHassanSaqib opened #159 "h1 heading is set to display:none"
I have noticed that the h1 heading is set to `display: none`, I couldn't notice any impact of this class on the tabs, is it redundant?. It is breaking the quilljs editor. Might also impact other functionality or packages.

[code]

[2021-07-21 10:05] rickgoemans opened #160 "Nested MorphToMany relation in tabs breaks searchable"
If you have a `MorphToMany` field nested in a tabs container the default Laravel Nova's `searchable` function is ignored and therefore showing all results in a dropdown instead of a nice search.

Example of failing:
[code]

Example where it works correctly:
[code]

Does anybody else experience this problem? I've tried it in multiple classes and multiple projects and I've updated all my dependencie

[2021-07-22 06:35] RVxLab commented on #160
This sounds like the `searchable` property gets discarded, which is odd.

This needs investigating.

[2021-07-22 06:37] RVxLab commented on #158
I fail to see how this is caused by nova-tabs. You have a 404, sounds like a problem within your resource.

[2021-07-22 06:38] RVxLab commented on #159
It's entirely possible that it's redundant, but I'm not able to say for sure.

If you can find evidence that this is a dedundant selector I'd gladly accept a PR for it.

[2021-07-22 06:40] RVxLab commented on #153
Some more info on use cases would be nice.

If you (or anyone else for that matter) would want to pick this one up and make a PR for it by all means go for it.

[2021-07-22 14:02] PCodrin commented on #158
That occurs when you add a File field in a tab just try to see if it works. Thanks!

[2021-08-03 12:33] rickgoemans commented on #160
Is anybody else experiencing this issue? And maybe come up with a solution?

[2021-08-03 16:08] spekulatius opened #161 "Relationship fields aren't rendered correctly"
Hello,

I've got tabs with relationships and they seem to not render correctly:

![image](https://user-images.githubusercontent.com/8433587/128048667-51df5983-532d-4005-9171-cacb346c41bd.png)

My code:
[code]

Versions:

[code]

Do I miss something?

Cheers,
Peter

[2021-08-03 16:49] RVxLab commented on #160
I haven't had the time to look at it. But if you do find a cause I'd gladly accept a PR.

[2021-08-03 16:54] RVxLab commented on #161
What happens if you take the `HasMany` out of that tab and put it directly in the `Tabs` array? I'm pretty sure you can't nest a `HasMany` into a tab just like how you can't put a `HasMany` in the same panel as the rest.

As for the search bar being there, that's a new one! It may have to do with the above but I'm not sure, first time I ever see this happen, especially considering that search bar

[2021-08-03 17:23] spekulatius commented on #161
ah, okay. That makes sense. It does work when moving it out. Thank you for pointing me to this!

[2021-08-03 17:23] #161 closed

[2021-08-03 17:25] RVxLab commented on #161
No problem, I'm glad you got it working!

[2021-08-11 07:11] BinaryKitten commented on #146
@SquareBeard where does this "fix" go?

[2021-08-11 08:58] SquareBeard commented on #146
In a javascript file that you include with `Nova::script(...)` in your NovaServiceProvider.

[2021-08-24 01:23] esameisa opened #163 "issue in TabsOnEdit"
when i use TabsOnEdit
example i use:
i have user resource and each user has userDetails, the relation is one to one
when i use TabsOnEdit in user resource, it only update user data but didn't update userDetails data

Any Help?

[2021-09-08 21:35] rbishop2006 opened #164 "H1 in parent Tabs is truncated with ..."
When providing a title to the Tabs::make('//title//'), the H1 is truncated with ellipsis instead of showing the entire title.  When I inspect it, it shows a css class of .truncate .  Is there an option not to truncate the title?

[2021-09-09 07:08] RVxLab commented on #164
The `.truncate` class isn't referenced in the tabs, pretty sure this comes from Nova directly or some other package.

If you find evidence this comes from this package you can reopen this issue.

[2021-09-09 07:08] #164 closed

[2021-09-09 21:58] rbishop2006 commented on #164
After updating to the most current Nova 3.29.0, the issue on the H1 was fixed.  Thanks for your help.

[2021-10-12 11:05] valentinfily commented on #151
In my case I fixed the issue by adding the service provider to app.php in config folder as such :
[code]

[2021-10-13 15:37] Anrail commented on #163
Hi, has anyone solve the problem?
Share your experience =)

[2021-11-03 12:07] atmediauk opened #166 "Option to make the tabs bar sticky"
Would it be possible to add an option to make the tabs menu sticky? This would really help with longer forms where users then have to remember to scroll back up.

[2021-11-11 11:35] Kenny201 commented on #158
Got the same problem. Does anybody know how to fix it?

[2021-11-22 09:30] xinxinland opened #167 "Chinese Tab name is not supported"
Does anyone  have this problem ? Tabs name , Chinese is not supported

[2021-11-22 09:37] xinxinland commented on #167
Chinese Tab name add number ， ok   now

[2021-11-23 06:20] RVxLab commented on #167
Duplicate of #145. Use the name method on a tab to work around this.

If you know how to properly fix this I’d gladly accept a PR.

[2021-11-23 06:20] #167 closed

[2021-12-15 10:19] StanMenten-bp opened #168 "Card padding"
Hi,

I'm using the Laravel Nova's default heading but due to the padding (`px-6 py-3`) added to the `relationship-tabs-panel` card this comes out ugly.
What is the best way to overrule this?

[2021-12-20 13:26] arlon23 commented on #158
@Kenny201 @PCodrin I did this change on updateFields and creationFields and seems to fix the problems, I didin't make all the tests on my project, but if you want to try and test on your projects, after I finish with my test I will make a PR.

![image](https://user-images.githubusercontent.com/45430368/146773922-534b1f17-e95f-401d-81c1-c88bd84ff12a.png)

[2022-01-11 08:58] Broutard commented on #159
impact editorjs package too.

[2022-01-17 03:58] marlocorridor opened #170 "Dependency Issue starting from tag 1.4.0"
**Context:**
I'm using Nova v2.
After we update this packages, from "1.2.2" to "1.4.6",

**Issue:**
The method call for `fieldResolverCallback` is `undefined`.

**Solution:**
I fixed it by requiring "1.3.*" of  `eminiarts/nova-tabs` instead.

**Request:**
I do not know how yet but:
- could we add a restriction starting "1.4.0" to require Nova v3?

[2022-02-09 13:36] RVxLab commented on #170
Since removing support for Nova 2.x is a BC break this would be better suited for a major bump.

Honestly though, a 2.x version of this package would best come with Nova 4.0.

I recommend using your current solution as I have no plans to add support for this.

[2022-02-09 13:37] RVxLab commented on #168
With Nova’s selectors being the way they are I’d recommend doing a traversal using the dusk attributes.

It’s not an ideal solution but I haven’t been able to find a better one so far.

[2022-02-09 13:38] RVxLab commented on #166
This is a pretty decent idea. If you want to make a PR for this I’d gladly take a look!

[2022-02-09 13:39] RVxLab commented on #163
As far as I know this isn’t supported by Nova. You’d need to do a hard refresh of sorts afterwards.

[2022-02-09 13:41] #159 closed

[2022-02-09 22:21] RVxLab commented on #158
This should be fixed with #169. I’ll make a release towards the weekend.

[2022-02-09 22:21] #158 closed

[2022-02-13 00:27] RVxLab commented on #157
I haven't been able to reproduce this issue anymore.

[2022-02-13 00:27] #157 closed

[2022-02-13 01:14] RVxLab commented on #158
Version 1.5.0 has been released which should address this issue.

[2022-02-13 01:27] RVxLab commented on #151
By the looks of it this issue has been fixed, I'll close it.

[2022-02-13 01:27] #151 closed

[2022-02-13 01:28] RVxLab commented on #136
Due to inactivity I'm closing this issue. If this issue still occurs please open a new issue with more information.

[2022-02-13 01:28] #136 closed

[2022-02-13 01:28] RVxLab commented on #137
Due to inactivity I'm closing this issue. If this issue still occurs please open a new issue.

[2022-02-13 01:28] #137 closed

[2022-02-13 01:29] RVxLab commented on #145
I'm closing this. The way to fix this is by using the `slug` method. If someone can find a better way to fix this I'll gladly accept a PR for it.

[2022-02-13 01:29] #145 closed

[2022-02-13 01:30] RVxLab commented on #146
I'm going to assume that this is fixed due to inactivity. If this issue occurs again please open a new issue.

[2022-02-13 01:30] #146 closed

[2022-02-13 01:31] #150 closed

[2022-02-13 01:31] #152 closed

[2022-02-13 01:31] #153 closed

[2022-02-13 18:36] Saifallak commented on #146
@RVxLab still not fixed, and happening on latest version

[2022-02-13 19:13] Saifallak commented on #146
Solution by @SquareBeard https://github.com/eminiarts/nova-tabs/issues/146#issuecomment-843068387
nope, not working well, sometimes work and sometimes not.

[2022-02-13 21:10] RVxLab commented on #146
Not sure what it could be. If someone can find a reliable way to reproduce this then I could have a deeper look. Otherwise I’d gladly accept a PR.

[2022-02-16 11:14] norhan-elnezamy opened #172 "Relation Tabs disappeared"
I 'm using the relation tabs and it was working fine. but suddenly it stoped without any change in code from my side, I expected it's related to the last released version so, I had to downgrade to version 1.4.6 and then it works fine again .

[2022-02-16 11:20] RVxLab commented on #172
Sounds like an issue I found while doing production builds in #157, can you confirm?

[2022-02-16 11:51] norhan-elnezamy commented on #172
yes, it seems like it. No tabs appears in details page
<img width="1440" alt="Screen Shot 2022-02-16 at 1 46 50 PM" src="https://user-images.githubusercontent.com/99803377/154259000-41e82394-2414-4301-a1c8-a36c730232c6.png">
<img width="1440" alt="Screen Shot 2022-02-16 at 1 46 41 PM" src="https://user-images.githubusercontent.com/99803377/154259024-01fe1b6d-582d-44a0-933a-8629fce75f30.png">

[2022-02-16 11:54] norhan-elnezamy commented on #172
yes, it seems like it. No tabs appears in details page.
![resource](https://user-images.githubusercontent.com/99803377/154259549-ec0a0d89-0efb-42c8-9ccd-8b9bce5013b8.png)
![details-page](https://user-images.githubusercontent.com/99803377/154259558-5d8e3f29-af35-4a60-afe3-56a6e58f2e13.png)

[2022-02-16 12:13] RVxLab commented on #172
Strange. I’ll need to research this. Perhaps update the build settings.

[2022-02-17 01:31] RVxLab commented on #172
I'm currently unable to reproduce this locally with a fresh production build.

But to hopefully fix this issue can you please do the following:

1. Re-publish your Nova assets with `php artisan nova:publish`
2. Update the nova-tabs package to `dev-improved-frontend-building`

[code]

Then run `composer update eminiarts/nova-tabs`.

[2022-02-17 10:02] #170 closed

[2022-02-22 18:04] elizdlt202 commented on #172
Hi, I think I'm having the same issue. The whole content within Tabs::() has disappeared. the screenshot shows what I've been using - and everywhere I'm using it - it does not display at all in the ui. This only happened after the recent version update

![Screen Shot 2022-02-22 at 10 02 56 AM](https://user-images.githubusercontent.com/49735067/155192173-168c7d34-08c0-45a2-b687-fb6ab6fa654a.png)

[2022-02-22 23:32] RVxLab commented on #172
Can you take the instructions from my previous comment and see if that fixes it?

[2022-02-23 17:07] elizdlt202 commented on #172
Hi, your previous comment ( solution ) actually didnt work for me.

[2022-02-23 18:26] norhan-elnezamy commented on #172
the solution works fine with me, thanks a lot for supporting.

[2022-02-23 18:50] BertKooij commented on #172
I had the same issue and tried your instructions, sadly it did not seem to fix the issue. But it seems to be related to something that has been changed in Laravel Nova. I was running v3.28.2 and just updated it to the latest version (v3.31.0) which did the trick. The tabs are now being displayed again with version 1.5.0.

[2022-02-23 20:21] RVxLab commented on #172
@norhan-elnezamy @BertKooij Thanks for verifying this with me! I’ll release 1.5.1 today with the new dist files.

@elizdlt202 If you’re running an older version of Nova, please update to the latest.

[2022-02-23 21:11] #172 closed

[2022-02-23 21:14] RVxLab commented on #172
Version 1.5.1 has been released to address this issue. An update to Nova may be required to fully fix this, unfortunately there's not much I can do about that.

[2022-02-23 23:04] elizdlt202 commented on #172
Thank you @RVxLab for your quick care on this! Much appreciated!
I'll try to see if it works again.

[2022-02-24 09:50] kephren226 opened #174 "Showif"
Hello
i'm trying to use the showIf contition without success
can someone please explain how to use it ?

[2022-02-24 10:05] RVxLab commented on #174
What did you try "without success"?

Please give examples of what you tried when you open issues asking for help.

[2022-02-24 11:10] kephren226 commented on #174
I have one tabs for acount info and another for transactions and i want to the transactions tab id there is no transactions
can you show me how to hide a tab conditionnally using the showIf or another method
i just don't know how to use the showif method the documentation is not explicit about it

Thanks

[2022-02-24 11:40] RVxLab commented on #174
The documents do state that `showIf` accepts a boolean or a closure, but perhaps some examples are in order in there. I'll work on that soon.

[code]

I most cases I recommend passing a closure, especially if it's highly conditional.

[2022-02-26 10:32] vpratfr opened #175 "Tabs not showing up when not calling withToolbar"
Hi,

When not calling the showToolbar function, the tabs are not showing up on the page.

Using latest versions of Laravel 8, Nova 3 + this package. PHP 8.1 if that matters.

Working

[code]

Not working

[code]

[2022-02-26 12:26] RVxLab commented on #175
Are you running the latest version of Nova (3.31 as of right now)?

There have been issues with people not being able to see the tabs when running on previous Nova 3 versions, like in issue #172.

[2022-02-26 12:29] RVxLab commented on #88
With Nova 4 coming up I'm wondering if this is still a relevant issue that requires fixing.

Is this still happening in Nova 3 or can this be closed?

[2022-02-26 12:30] RVxLab commented on #163
I'm closing this under the assumption that this isn't something Nova supports. If you find any proof that this is support then please provide me some examples as to how this could be done or provide a PR doing that.

[2022-02-26 12:30] #163 closed

[2022-02-26 15:06] vpratfr commented on #175
Hi

Yes we are: 3.31.0

The tabs show up, but not when we do not ask to show the toolbar.

[2022-02-26 19:04] RVxLab commented on #175
Sounds like a strange issue. Can you provide a private repo with a minimal example and invite me to it? I can’t reproduce this locally.

[2022-02-26 19:16] vpratfr commented on #175
Will check again on Monday, and publish nova assets again to make sure they
are up to date too

Le sam. 26 févr. 2022 à 20:04, RVxLab ***@***.***> a écrit :

[2022-02-27 09:33] #175 closed

[2022-02-27 11:32] RVxLab commented on #175
Haha no worries at all! I'm glad you were able to fix it.

[2022-03-04 11:51] kephren226 commented on #174
Thanks for taking time to replay
i'll try and see what happen ?

[2022-03-04 12:09] kephren226 commented on #174
Thanks for takin time to reply

What i'm trying to do is show the tab if account has transaction using thhe exists method on the relation

i use showIf($this->transactionClients()->exists())

tha tab still appear but cannot load data

[2022-03-04 12:15] RVxLab commented on #174
What do you mean with "cannot load data"?

[2022-03-04 12:21] kephren226 commented on #174
When condition returns false the tab is not shown
but when it returns true the tab is shown but data are not loaded

[2022-03-04 12:27] kephren226 commented on #174
Yes
when showif is not apply everything work

[2022-03-04 12:31] RVxLab commented on #174
Hmm, strange.

Are you on the latest version of nova and did you run `php artisan nova:publish`?

If yes, please create a private repo with a minimal example and invite me to it. This so I can check it out and I can be more sure that it’s reproducible.

[2022-03-04 12:37] kephren226 commented on #174
I have the latest nova version and nova assets are published

[2022-03-04 12:37] kephren226 commented on #174
and the code looks like this

 return [

            Tabs::make(
                'Compte',
                [

                    Tab::make('Info compte', [

                        // is_null($this->numero) ?  Text::make('reference')->readOnly() :  Text::make('reference')->onlyOnDetail(),

                        Text::make('reference')
                            ->readOnly()

[2022-03-05 00:13] RVxLab commented on #174
What I meant with that is that you make a private repository with a clean Nova installation and just add the needed things to reproduce this.

After that you invite me to the repository so I can clone it locally.

[2022-03-05 13:11] ZoreAnkit opened #176 "Create / Update view don't show resource id/name at top of tab"
![Selection_041](https://user-images.githubusercontent.com/46300882/156883903-94938e48-5838-4f72-a44c-8c543cbccddd.png)
![Selection_040](https://user-images.githubusercontent.com/46300882/156884222-3299b3fa-4961-4727-9701-49a2872a59b1.png)

As you can see in create / update view I see "project details" on top of tabs

Need fix or help with this issue.

[2022-03-05 22:22] RVxLab commented on #176
Don’t call the showTitle method on the tabs object.

[2022-03-07 04:12] mziraki commented on #172
@RVxLab
same issue here, even with Nova v3.31.0 and this package v1.5.1!
I tried all the solutions in previous comments!

[2022-03-07 05:16] RVxLab commented on #172
Outside of publishing the assets on the latest Nova build I really don't know what else could fix this.

Otherwise please provide a private repository with a minimal example as this is a ridiculously hard issue to reproduce.

[2022-03-07 06:43] ZoreAnkit commented on #176
Not calling that method anywhere.

Check code below

[code]

[2022-03-07 16:23] ziming opened #177 "HasMany & morphMany break when I use fieldForIndex & fieldForDetail"
they still show on the detail page but when i click the create XYZ button, the new page is blank

my current setup is fieldsForIndex() for the index fields

fieldsForDetail() for the detail view with tabs

and fields() for the create/edit layout with tabs.

[2022-03-07 20:07] Saifallak opened #178 "show tab depends on condition in the same form ex: select field"
show tab depends on condition in the same form ex: select field

[2022-03-07 22:00] RVxLab commented on #177
Can you create a private repo with a minimal example and invite me to it?

[2022-03-07 22:03] RVxLab commented on #178
That’s a neat idea. If you want to make a PR then I’m all for it.

[2022-03-07 22:34] Saifallak commented on #178
Any ideas from where to start? ..
Guide/docs/tutorials.

[2022-03-08 02:28] RVxLab commented on #178
Unfortunately I don't really.

Besides looking at how other packages do it, such as [Digital Creative's Conditional Container](https://github.com/dcasia/conditional-container), or source diving into Nova there are no amazing resources to draw from.

Nova's documentation are (in my opinion) really lackluster when it comes to these things and with how volatile the package in updates it's hard to rec

[2022-03-08 13:08] ZoreAnkit commented on #176
Can I get help with this issue please. I'm using "TabsOnEdit" trait as well.

[2022-03-08 15:18] cord opened #179 "H1 of component not hidden when ->defaultSearch() applied"
class `tab-content` is not applied with `->defaultSearch(true)`, so therefore H1 is not hidden as applied through the following css:

[code]

[2022-03-09 19:51] ziming commented on #177
Hi turn out I just have to repeat those HasMany in fields(), fieldsForUpdate(), fieldsForCreate()

Having HasMany in fieldsForDetail() is not enough to get it working

So it's fine now unless you consider it a bug

[2022-03-10 03:43] RVxLab commented on #177
Ah okay. This sounds like Nova thing and not so much a nova-tabs things. I'm pretty sure that `fields` is for all of them and `fieldsForThing` is for the individual actions.

I'll close this issue as this is not a bug.

[2022-03-10 03:43] #177 closed

[2022-03-11 07:32] mziraki commented on #172
@RVxLab
after tracking down the bug commit by commit, I found out upgrade of laravel mix from v1 to v6 break something in code, but I can't find what!

[2022-03-11 18:04] villeneuve-michael commented on #179
My variation for this issue:

In ~/resources/vendor/nova/partials/meta.blade.php
[code]

[2022-03-11 20:34] RVxLab commented on #179
@cord Thanks for the report. I’ll need to take a look.

@villeneuve-michael That would cause a regression of https://github.com/eminiarts/nova-tabs/issues/159

[2022-03-11 20:46] villeneuve-michael commented on #179
Ah you're correct! Thanks for the correction didn't think of that case.

[2022-03-21 14:33] bhargavhauper commented on #131
[https://github.com/laravel/nova-issues/discussions/3787](https://github.com/laravel/nova-issues/discussions/3787
)
Need A this Type of Feature

[2022-03-21 14:34] bhargavhauper commented on #131
https://github.com/laravel/nova-issues/discussions/3787
Need A this Type of Feature

[2022-03-26 00:06] RVxLab opened #180 "Stepping down as maintainer"
With the upcoming release of Nova 4 requiring a new license, me starting a new job soon and that I moved away from Nova for my own projects I decided to step down as a (primary) maintainer from Nova Tabs.

Working on Nova Tabs has been a huge learning experience for me for the past couple of years in terms of managing an open source project and I'm glad to have been a part of this.

I'll be helpin

[2022-04-06 16:40] eduance opened #181 "Nova 4.x upgrade"
Hiya,

For Nova 4.x we need to upgrade the package in order to keep using it.

We would love to help. Is this package still maintained? If it is wished, I can start a PR and get going.

[2022-04-06 19:27] KickSchutte67 commented on #181
Hi @eduance,

As mentioned in this issue opened 13d ago (https://github.com/eminiarts/nova-tabs/issues/180), the maintainer has stopped due several different reasons.

@RVxLab mentioned: "I'll be helping maintaining the 1.x branch for Nova 3 until someone makes a 4.x version.". So I think you can start working on a new version, as my Nova is also depending on this package.

[2022-04-07 13:34] RVxLab commented on #181
Considering Nova 4 is a major release as well I have the idea the whole package will need a rewrite to some extent. So perhaps you could even ask @bajramemini to take over from me if you wish to.

[2022-04-08 07:11] ThaDaVos commented on #156
Seems to be broken on 1.5.x again - downgraded to 1.4.6

[2022-04-08 07:41] RVxLab commented on #156
See #172

[2022-04-08 07:49] ThaDaVos commented on #156
Yeah that's whats happening - weird that I couldn't find that issue

[2022-04-08 08:10] RVxLab commented on #156
I honestly have no idea what's causing this, I'm thinking it's a Nova issue that's outside of my control.

[2022-04-08 12:48] eduance commented on #181
@RVxLab That would be really awesome. Our company is looking to help where we can.
@bajramemini Any thoughts into this?

@KickSchutte67 We will be working on a solution to help keeping this package alive.

[2022-04-08 12:51] RVxLab commented on #181
Perhaps you could email Bajram, you can find his email on his GitHub profile.

[2022-04-08 13:09] acato-dev commented on #181
@RVxLab Alright! I'll be taking over from this account on behalf of Acato.

[2022-04-08 13:28] #181 closed

[2022-04-08 13:30] acato-dev opened #183 "Nova 4.x upgrade"
Hi,

To inform everyone, I'm currently on a different account (I was the starter on the previous topic on a different account) as I am representing Acato and we are looking to take over this package.

I'll start today and we are looking forward to creating a sustainable solution.

We will be requesting @bajramemini to take it over but we would love to do it and have the capacity available.

[2022-04-14 15:23] laradevca commented on #183
If I can be of any help let me know. I'd be willing to chip in some time to figure it out as I use this package in almost all of my projects.

[2022-04-18 22:51] #180 closed

[2022-04-19 11:12] parth-ka-patel opened #184 "Optimize the loading time"
i am using nova-tabs and i am facing the issue to taking more time to load full page so i suggest to if you are changed that when user click on that particular tab on first time then that page contents are load otherwise only first tab data display

each and every tab works like this if i am select 2nd tab then that data are load so it'll reduce lot of time to load the data

[2022-04-19 11:13] parth-ka-patel commented on #184
@RVxLab  Please look into this and if have any solution then it's great to use

[2022-04-19 11:25] RVxLab commented on #184
Tabs don't load things on their own, that's handled by the underlying relations. So I don't think this is an issue with nova-tabs, but rather an issue with your queries.

Please check that first.

[2022-04-19 11:27] parth-ka-patel commented on #184
I am just suggesting if this possible from your side then it'll benefited to all

[2022-04-19 11:34] RVxLab commented on #184
Ah I see, my bad.

With Nova 4 being out and my stepping down as maintainer (#180) this is not something I'm looking at implementing. With the version for Nova 4 (which I expect to be a 2.x release) this could be a feature.

Besides, with proper Eloquent optimization this shouldn't be needed.

[2022-04-19 11:37] parth-ka-patel commented on #184
Okay Thank you so much but if you find any solution for this 2 question so please share here .
Thanks again

[2022-04-19 21:09] scramatte commented on #183
Hi,

We are interested into Nova4 support.  Let me know if you need help
Regards

[2022-04-19 21:10] crynobone commented on #183
@Grafikart Creating Panel with custom component has been fixed in 4.2.3, can you review that and see if it does what you needs it to?

[2022-04-20 08:41] Grafikart commented on #183
I'm stuck I can't make it work, I cannot get the serialization I want and I moved to another task at the moment. So if someone want to follow up go ahead.

[2022-04-20 21:46] scramatte commented on #183
Hi,

I've tried to fix it but I've got the following error:

[code]

Regards

[2022-04-20 21:56] crynobone commented on #183
https://github.com/eminiarts/nova-tabs/blob/cd19cf4954c54ba18ecdff7c1f7fdfb83cc23252/src/Tabs.php#L55-L57

It should also include `$field->assignedPanel = $this;`

[2022-04-21 23:07] marcfilipan commented on #183
#185 I got it working, but removed a bunch of the options, as I simply don't need them.

[2022-04-22 23:45] daemswibowo opened #186 "Tabs panel not showing at all"
I've weird condition that since yesterday my tabs not showing again even I use the code from the example, I have relations tab before like this
[code]

I'm using `eminirats/nova-tabs:1.5` and `laravel/nova:v3.32.0`

[2022-04-23 00:08] daemswibowo commented on #186
OMG! I just run `php artisan nova:publish` and it solved!

[2022-04-23 00:08] #186 closed

[2022-04-24 16:15] philipbaginski opened #187 "Laravel Nova 4 problem."

[2022-04-25 20:15] #187 closed

[2022-04-26 10:17] bajramemini commented on #183
Hello @acato-dev

We've been busy with other projects and non Nova-related stuff and didn't have the time/project yet to use this with v4.

We would be happy to add some collaborators/maintainers to this package.

You could tell me which users are going to be involved and should be added as collaborators.

Kind regards

[2022-04-26 11:21] marcfilipan commented on #183
I actually have an idea about that, but have to discuss it with someone else first, I'll get back to you in a couple of hours.

[2022-04-30 12:41] marcfilipan commented on #183
Fixed with https://github.com/eminiarts/nova-tabs/releases/tag/2.0.0

[2022-04-30 12:41] #183 closed

[2022-04-30 12:52] marcfilipan commented on #184
In the 2.0.0 version for Nova 4, fields within tabs are only loaded once the tab has been opened. That being said, regular field data is always loaded, but if you use relational fields, they will only load data once the tab has been opened as the function to fetch their data is only triggered once the tab has been opened.

Let me know if that's enough.

[2022-04-30 12:53] #179 closed

[2022-04-30 14:22] inventionate opened #188 "Tabs panel combination problems (v2)"
First of all, thank you for the great package. I am very happy that there is now a Nova 4 version. Unfortunately, it seems that it is no longer possible to combine a tab panel with other fields and panels? Following setup results in a cluttered overall panel that is not usable:

[code]

Under version 1 everything worked without problems. Maybe I am doing something wrong?

[2022-04-30 20:55] marcfilipan commented on #188
Does the panel show without the fields or simply doesn't show at all?

[2022-04-30 21:27] inventionate commented on #188
All fields are shown, but they are messed up. Fields which are not in a panel or relations (belongstomany etc.) are all placed in a new panel. Under the new panel are the tabs and explicit panels (other example code but same result):

![Bildschirmfoto 2022-04-30 an 23 26 43](https://user-images.githubusercontent.com/872787/166123221-b20a6d38-9c87-45e1-a599-65b0d5a83a87.png)

[2022-04-30 22:18] marcfilipan commented on #188
I'll look into it tomorrow, think i might be overwriting the component for panels under tabs.

That the fields who aren't in tabs or panels at all show up in a new panel, is simply how Nova works.

[2022-05-01 05:24] inventionate commented on #188
Thank you! And yes, panels aren't the problem, but putting all into one is. Here is a screenshot when I don't load the HasTabs trait. I think it is definitely about an overwrite (nearly as excepted, but missing tab panel title):

![Bildschirmfoto 2022-05-01 an 07 23 22](https://user-images.githubusercontent.com/872787/166133447-4a53983e-4035-400e-ba75-62ad8c691588.png)

[2022-05-01 09:00] rderks88 opened #189 "Nova tabs 2.0 does not show toolbar on first generated panel when only relation tab is used"
First of all, thank you guys so much for upgrading to support nova 4.0! You helped me lots.
Will also submit a PR for this issue asap:

When tabs is only used for relations, it is impossible to show the toolbar on the first panel.
This should default to the normal nova behavior and show a toolbar on the first panel that includes all "normal" fields.

To reproduce:

[code]

[2022-05-01 17:42] ziming opened #191 "Stop auto scrolling to top of page when change tab"
Currently in the nova tabs package for nova 4. clicking on a new tab anywhere will jump to the top of the page, making me having to scroll down myself again

[2022-05-01 18:30] stepanenko3 opened #192 "Nova settings compatibility"
Tabs are not displayed on settings page [outl1ne/nova-settings](https://github.com/outl1ne/nova-settings.git)

[2022-05-01 18:54] marcfilipan commented on #192
https://github.com/outl1ne/nova-settings/blob/e2414f5be57f0328129cf03d2337d91e115b590b/resources/js/views/Settings.vue

He has it commented out.

[2022-05-01 18:54] #192 closed

[2022-05-01 19:02] marcfilipan commented on #188
Please post matching code to the screenshots you share so I can recreate the situation. The only issue I can find at the moment is that you can't use panels inside a tab, but other then that everything seems to work fine.

[2022-05-01 19:13] inventionate commented on #188
No problem. The traits are just arrays of fields and it's no difference if I use them or just array of fields directly:

[code]

Thank you!

[2022-05-01 21:32] marcfilipan commented on #191
https://github.com/eminiarts/nova-tabs/releases/tag/2.0.1

[2022-05-01 21:32] #191 closed

[2022-05-01 21:33] marcfilipan commented on #188
https://github.com/eminiarts/nova-tabs/releases/tag/2.0.1

Give it a try please @inventionate and let me know if this gives you the expected result

[2022-05-01 21:33] marcfilipan commented on #189
https://github.com/eminiarts/nova-tabs/releases/tag/2.0.1

[2022-05-01 21:33] #189 closed

[2022-05-01 21:43] inventionate commented on #188
Works great! Thank you! Just one small thing. It seems that the tabs panel misses some top margin between heading and panel compared to normal nova panels. If I add mt-3 py-2 to div.tab-card it's perfect.

[2022-05-01 21:46] marcfilipan commented on #19
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:46] #19 closed

[2022-05-01 21:46] marcfilipan commented on #88
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:46] #88 closed

[2022-05-01 21:47] marcfilipan commented on #116
This issue has been closed because it has been open for 30 days with no activity.

Additionally, this is fixed in v2 for nova 4.

[2022-05-01 21:47] #116 closed

[2022-05-01 21:48] marcfilipan commented on #131
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:48] #131 closed

[2022-05-01 21:48] marcfilipan commented on #160
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:48] #160 closed

[2022-05-01 21:49] marcfilipan commented on #166
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:49] #166 closed

[2022-05-01 21:49] marcfilipan commented on #168
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:49] #168 closed

[2022-05-01 21:49] marcfilipan commented on #174
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:49] #174 closed

[2022-05-01 21:51] marcfilipan commented on #176
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:51] #176 closed

[2022-05-01 21:51] marcfilipan commented on #178
This issue has been closed because it has been open for 30 days with no activity.

[2022-05-01 21:51] #178 closed

[2022-05-01 21:51] #184 closed

[2022-05-01 21:57] marcfilipan opened #194 "Padding issue when not showing toolbar"
It seems that the tabs panel misses some top margin between heading and panel compared to normal nova panels. If I add mt-3 py-2 to div.tab-card it's perfect.

_Originally posted by @inventionate in https://github.com/eminiarts/nova-tabs/issues/188#issuecomment-1114343199_

[2022-05-01 22:09] #194 closed

[2022-05-01 22:09] marcfilipan commented on #188
The padding issue was only when not showing it as toolbar, fixed now in 2.0.2, thanks for finding it!

[2022-05-01 22:09] #188 closed

[2022-05-01 22:15] inventionate commented on #188
Great! Thanks for the fast fixes and the wonderful package!

[2022-05-02 06:13] ZoreAnkit commented on #176
@marcfilipan I didn't get any solution and the issue is closed? I tried explaining issue hoping for any reply

[2022-05-02 07:27] marcfilipan commented on #176
You are creating the title yourself in the make, so fix it by supplying the title you want.

[2022-05-04 13:07] stepanenko3 commented on #192
@marcfilipan but the old way to identify nova-tabs in the new version no longer works
I tested it, and I didn't find any signs of tabs in js

[2022-05-04 13:08] ziming opened #197 "New tab sections get ignored for relations"
In Nova 3, given the following code. I will get multiple tab groups. 1 stacked below the other.

[code]

In Nova 4

[code]

[2022-05-05 11:32] stepanenko3 opened #198 "Many bugs with Code field"
Bugs appear after switching the tab
- Line numbers are displayed above the content
- Content is not displayed until we click on the field
- I caught a bug several times when the text wasn't highlighted, the cursor wasn't shown

And I have to use custom styles in my project to correct the display of fields
With these styles, everything is perfectly displayed in form and detail views

[code]

![](ht

[2022-05-05 11:49] ziming commented on #197
Updating with some screenshots:

Tabs in Nova 3 (Notice 2nd tab group is a bunch of MorphToMany Relations

https://share.getcloudapp.com/xQuqXnNR
---

Tabs in Nova 4 (Notice how the relations are not displayed inside tabs)

https://share.getcloudapp.com/NQuNPJXY

[2022-05-05 12:26] stepanenko3 opened #200 "Tabs dependsOn"
Please add support dependsOn for Tabs field

Desired result:
[code]

[2022-05-05 20:29] stepanenko3 commented on #198
Fixed in PR #199

[2022-05-06 08:41] ramonfeleus commented on #197
This is something I've noticed as well. HasMany fields appear at the bottom of the details page and not inside their tab in nova 4. This makes for a really long details page in for example my forms backend. It shows submissions along with the fields in 1 long page, not ideal.

[2022-05-06 09:41] marcfilipan commented on #197
<img width="1582" alt="image" src="https://user-images.githubusercontent.com/1815234/167107444-5641c43f-0bf3-441b-afb1-f5411e05b649.png">
Not sure what you guys are doing, but it works fine for me

[code]

[2022-05-06 09:58] marcfilipan commented on #200
There are already methods you can use to define if tabs should be shown or not. The nova dependson method is for fields, tabs aren't fields but panels.

[2022-05-06 09:58] #200 closed

[2022-05-06 11:32] ziming commented on #197
@marcfilipan I just changed to Tabs::make() like your code example but it didn't work for me unfortunately. Now I'm lost

[2022-05-06 12:38] #198 closed

[2022-05-07 09:02] ziming commented on #197
Like to ask @marcfilipan are you using fields() or fieldsForDetail() ?

[2022-05-07 09:16] ziming commented on #197
I tried the following alternatives in my fieldsForDetail() function. Didn't work too

[code]

[code]

[2022-05-09 17:18] ziming commented on #197
Okay so I did some extra tracing.

On the PHP side, I can see that the HasMany and other relations do get added. The following code did get called in Tabs.php addFields() method

[code]

So I think the problem is likely on the vue side. My guess would be https://github.com/eminiarts/nova-tabs/blob/master/resources/js/components/DetailTabs.vue

But given I'm not familiar with Vue, I shall stop here

[2022-05-10 04:14] marcfilipan commented on #197
I'm using fields, so maybe that's the difference, i'll check it out later

[2022-05-10 10:06] adityadees opened #201 "Tab not showing on view"
Why cannot render tab on view?
![image](https://user-images.githubusercontent.com/37553901/167604437-08ddddb2-c7ca-416b-96e8-3b8c340bdc08.png)

this only work when I click create
![image](https://user-images.githubusercontent.com/37553901/167604497-20db7d00-bf1f-4c1d-8b6a-aaad15c2aa63.png)

I'm following documentation but not working
![image](https://user-images.githubusercontent.com/37553901/1676

[2022-05-11 07:55] ziming commented on #201
I think it's only meant for detail and edit view. not index.

[2022-05-11 08:13] adityadees commented on #201
so we cannot use this library on index?

[2022-05-11 08:20] ziming commented on #201
you have to ask the maintainer, but in past versions it only support tabs in detail and edit view.

[2022-05-11 17:05] ziming commented on #197
Closing as I have resolved the issue. Thank you.

[2022-05-12 02:30] adityadees commented on #201
I think they got it already? @ziming

![image](https://user-images.githubusercontent.com/37553901/167980037-64100903-76ed-4511-ab8d-180228664ae4.png)

[2022-05-12 02:32] adityadees commented on #201
for the layout is up to you but I think just like this
![image](https://user-images.githubusercontent.com/37553901/167980336-8f5f3011-85a1-4fb6-8954-fa72d4b4c5d1.png)

I think you already have it bro @ackermann

[2022-05-12 03:36] ziming commented on #197
use HasTabs; trait

In the previous major version of this package, there isn't a need to use this trait, so I missed it.

[2022-05-12 03:38] ziming opened #205 "On validation error, did not jump to the right tab with the validation error"
In the previous major version of this package, if there is a validation error, it will jump to the right tab, highlight it red and show the field with the error. You can be on a different tab and all these still happen.

In the latest major version, if there is a validation error, it just say there is a problem, but did not jump to the right tab. did not highlight it red, did not scroll down to th

[2022-05-12 11:11] ramonfeleus commented on #197
Indeed, that's it, works for me as well! Thanks again.

[2022-05-13 10:43] marcfilipan commented on #205
And what would it do if there is a validation error on multiple tabs?

[2022-05-13 10:47] ziming commented on #205
Hmm I have since merged my nova 4 branch to master. Hard to reverse now.

But i suppose you can switch to the 1st tab with the 1st validation error

For other tabs, maybe highlight the header red too to indicate they also have validation errors, I'm not sure

Maybe @RVxLab can answer how it is like in the previous major version.

[2022-05-13 11:07] RVxLab commented on #205
In Nova 3 it was done by checking if any tab contained an error and if so jump to the first one that had one.

See https://github.com/eminiarts/nova-tabs/blob/1.5.1/resources/js/components/FormTabs.vue#L86 and
https://github.com/eminiarts/nova-tabs/blob/1.5.1/resources/js/components/FormTabs.vue#L149

@marcfilipan Perhaps this can help you out with making a modern implementation?

[2022-05-13 11:34] #205 closed

[2022-05-13 11:36] marcfilipan commented on #205
It doesn't jump to the tab that has an error, as that can simply be multiple ones, but does mark them as having errors now.

[2022-05-13 11:37] marcfilipan commented on #205
<img width="1228" alt="image" src="https://user-images.githubusercontent.com/1815234/168275512-ac89a631-aa53-4417-bfa7-7471c0792550.png">

[2022-05-13 13:56] LTKort opened #209 "Ugly styling on active tabs since v2.0.5"
On 2.0.3 the tabs looked like this:
<img width="567" alt="Screenshot 2022-05-13 at 15 40 57" src="https://user-images.githubusercontent.com/2412670/168297225-1a8f9808-0805-4646-8402-741f16059377.png">

Now on 2.0.5 it looks like this, which in my opinion is a lot worse:
<img width="546" alt="Screenshot 2022-05-13 at 15 45 08" src="https://user-images.githubusercontent.com/2412670/168297278-e16b092

[2022-05-13 14:07] marcfilipan commented on #209
Should be fixed in 2.0.6

[2022-05-13 14:10] marcfilipan opened #210 "Update readme"
The Readme is completely out of date.

I'll try and update some of it this weekend, but all help is welcome.

[2022-05-13 14:23] LTKort commented on #209
@marcfilipan Thanks, the border is now better. Only the color... why the default Sky?
Cant we just use the default primary color from the Nova config? Now we need to add a function for all resources where has tabs..

[2022-05-13 14:33] marcfilipan commented on #209
I could make it later tonight that I uses a config file where you can configure them globally if that's preferred.

[2022-05-13 16:04] LTKort commented on #209
I think the most logical solution is to use the defaults from Nova and overwrite them using a function.
I will do a fork and give it a go.

[2022-05-13 16:09] marcfilipan commented on #209
Can't use the defaults, primary doesn't exist in nova-tabs, so can only load what is parsed by tailwind in Nova, border-b-primary-500 isn't in there, border-primary-500 is, but then you get the original issue.

[2022-05-13 17:12] LTKort commented on #209
I’ve been at it and think i have a solution

[2022-05-13 17:15] LTKort commented on #209
If a color is configured in the function it will work as it does right now. But if there is not a color defined the classes are not prefixed with ‘tabs-‘ and the primary color will be used

[2022-05-13 17:21] marcfilipan commented on #209
I'll repeat, border-b-primary-500 is purged from novas tailwind, as they don't use it. That means we can't use it, we can potentially use the var though and create a class in css for it.

[2022-05-13 17:56] LTKort commented on #209
@marcfilipan Thanks for the input, I did a PR #212 which fixes the problem you mentoined

[2022-05-13 18:42] marcfilipan commented on #209
I merged the PR from @ianrobertsFF, it's a cleaner fix.

Thanks for all the work guys!

[2022-05-13 18:54] ianrobertsFF commented on #209
The one you merged was the fixes for the history state issues and edit cancel functionality

I was still testing this one (My test project was still on default Nova colours), will PR it now

[2022-05-13 18:54] LTKort commented on #209
But you are overriding TW classes

[2022-05-13 19:10] ianrobertsFF commented on #209
This is true, I am overriding a very specific Nova tailwind class (primary isnt a colour available in TW itself) to do exactly the same thing that the class would do if it were implemented by the distributed Nova TW implementation.

[2022-05-16 08:24] #209 closed

[2022-05-17 17:02] ianrobertsFF opened #215 "titleAsHtml removal"
Still migrating my old Resources over to N4, and came across titleAsHtml was removed, was there any specific reason it was removed or would you be open to a PR restoring it?

[2022-05-18 12:20] marcfilipan commented on #215
I'm fine with a PR to restore it

[2022-05-19 17:10] KakaDemon opened #216 "Method mutate does not exist"
`laravel/nova:v4.2.0`
Code:
[code]
Got this error
<img width="572" alt="2022-05-19 in 22 00 25" src="https://user-images.githubusercontent.com/4408551/169357217-38e18377-dd82-404c-a20a-9f0d5ba7fce7.png">

[2022-05-19 18:06] mstaack commented on #216
Did you add the trait?

[2022-05-19 18:28] KakaDemon commented on #216
Yes
<img width="1232" alt="2022-05-19 in 23 27 05" src="https://user-images.githubusercontent.com/4408551/169373672-21cce987-7be1-4835-bc11-d601e46ec8b8.png">

[2022-05-19 21:15] mateusgalasso opened #217 "MorphOne is not showing in tab"
First, thanks for your amazing code.
Second: MorphOne is not showing in tab. It's at the bottom of the screen

![image](https://user-images.githubusercontent.com/3990028/169405626-d17b46ba-40bc-4cdf-8e77-4146dfe0ad25.png)

My code
![image](https://user-images.githubusercontent.com/3990028/169405838-acdbb350-046d-4e50-9d73-4134f9f4bf37.png)

[2022-05-19 21:21] stonkeep commented on #217
the same with HasOne

[2022-05-19 22:42] marcfilipan commented on #216
Which version of Nova are you using?

[2022-05-19 22:42] marcfilipan commented on #217
Did you add the trait?

[2022-05-20 08:41] KakaDemon commented on #216
Yes, fixed after update nova.
Thanks

[2022-05-20 08:41] #216 closed

[2022-05-31 20:55] RVxLab commented on #146
I don't maintain this package anymore. If this is still an issue in Nova 4 please open a new issue and make a reference to this one, the new maintainers will take it from there.

[2022-06-02 11:20] RealityGamin opened #220 "Not working in Nova v4.7.0"
I followed the first example to test this out on a fresh Nova installation

It will not show any tabs in the top area, rather it will show whatever field you make inside the table itself.

![image](https://user-images.githubusercontent.com/100086757/171618260-952596cb-c0cf-4f9c-a445-4ffa2294a3f5.png)
![image](https://user-images.githubusercontent.com/100086757/171618423-368ea748-2031-414e-bc2b-530

[2022-06-05 15:41] RealityGamin commented on #220
any ideas?

[2022-06-11 10:03] otrsw opened #221 "Question on showIf"
This is not an issue - just a question around usage of the showIf() method on the Tabs class.
The typical use case for me would be that the truthy/falsy value would depend on "other" fields on the form, and not data that is available on the "back end" yet.

Typically other components or Nova features (like dependsOn) would take a statement that is evaluated against these fields. so you could pass

[2022-06-13 12:27] m-lotze opened #222 "Tabs missing on create form and default toolbar is missing on update form"
Laravel Nova v4.8.1
Nova Tabs v2.0.7

The tabs show up only on the update form and resource detail. On create form only panels are shown.

On resource detail the default toolbar shows, when using `withToolbar()`, but on the update form it is missing. Adding `withTitle()` will show only the resource title, not the default text `Update :resource: :title`.

[2022-06-14 17:53] marcfilipan commented on #222
Try https://github.com/eminiarts/nova-tabs/releases/tag/2.0.8 and let me know if that solves it.

If not, please post your resource, as it works fine for me.

[2022-06-14 17:55] marcfilipan commented on #220
None whatsoever, can you try it in the following way and see if it works?

`use Eminiarts\Tabs\Traits\HasTabs;
use Eminiarts\Tabs\Tabs;
use Eminiarts\Tabs\Tab;

class User extends Resource
{
    use HasTabs;

    public function fields(Request $request)
    {
       return [
         Tabs::make('Some Title', [
            Tab::make('Balance', [
                Number::make('Balance', 'balance'),

[2022-06-14 18:01] marcfilipan commented on #221
The showIf and showUnless features were already in there when I took over. They're fully backend based, never really understood why anyone would use it like that either.

I'm open to ideas on how to make your wish possible, personally I think it would be hard to figure out how to keep it simple, as the idea is that tabs can be used in both detail and form views.

[2022-06-15 07:37] #215 closed

[2022-06-15 07:37] #210 closed

[2022-06-15 09:05] m-lotze commented on #222
Tried 2.0.8 with this Resource:

[code]

Without tabs this is the resource form and detail:

![form-without-tabs](https://user-images.githubusercontent.com/7899692/173784916-5f293567-ee68-45e4-bc96-49c7dc9d7c93.PNG)

![detail-without-tabs](https://user-images.githubusercontent.com/7899692/173784943-2d396268-39cd-45c2-934c-ab7815dcb15d.PNG)

With tabs:

![form-with-tabs](https://user-images.githubu

[2022-06-15 17:07] marcfilipan commented on #222
You define the titles yourself, so you can simply do the following to accomplish that:
[code]

[2022-06-16 09:50] #222 closed

[2022-06-17 01:22] swikrit commented on #15
Your fix idea looks great! However, I'm still experiencing the issue. I was wondering if it has been released or is it still in the pipeline?

Do I need to use a particular setting for it to work?

We're in no rush as this is an admin only feature, but I was wondering in case we were just not doing something correctly

[2022-06-17 13:27] stonkeep opened #224 "Not showing actions"
In version 4.9.2 of Laravel Nova, it is not showing resource actions

[2022-06-17 14:23] marcfilipan commented on #224
Could you post the code you have, a Screenshot of the result that goes wrong and a Screenshot of what you expected?

[2022-06-18 12:15] Lednerb commented on #224
I can confirm the issue and provide the following screenshot:

![grafik](https://user-images.githubusercontent.com/2056876/174436955-90c0b036-6cec-42ad-9df3-4ef16c9d974f.png)

![grafik](https://user-images.githubusercontent.com/2056876/174436997-2282e327-53dd-404d-9ddb-3102e80bbca7.png)

Screenshot from relevant code pages of the `Client` resource:

![grafik](https://user-images.githubusercontent.

[2022-06-18 13:15] marcfilipan commented on #224
Please call the showToolbar method on tabs

[2022-06-18 14:02] philipbaginski commented on #221
Hi!

I will show you simple case:

In the resource Runner I have tab: Workouts with workouts belongsTo runner. Runner can be active or inactive. If I'm creating workout for runner, on the list I can see only active runners. If I go to inactive detail page runner I can still see tab Workout, but there is no need to create workout.

So, if there is any condition/s we don't want to some tab, we can h

[2022-06-18 16:04] Lednerb commented on #224
@marcfilipan thanks for your reply, but it seems that there is no such method:

![grafik](https://user-images.githubusercontent.com/2056876/174446940-cef566eb-2c77-4348-8d75-4c4c8fdf970d.png)

[2022-06-18 20:12] philipbaginski opened #225 "Dynamic tabs name"
Hi!

Is it possible to make dynamic name for tabs?:

Tabs::make(__('Dynamic name'), [
                Tab::make(__('Tab 1'), [
                ...
                ],
                Tab::make(__('Tab 2'), [
                ...
                ],
            ]),

[2022-06-19 18:19] marcfilipan commented on #225
What do you mean with dynamic name?

[2022-06-19 18:20] marcfilipan commented on #224
Thanks for the update and sorry for the wrong method name, replied from phone and didn't actually look it up.

[2022-06-19 18:20] #224 closed

[2022-06-19 19:32] marcfilipan commented on #221
But from the example you gave, those are server side conditions?

[2022-06-19 19:32] #220 closed

[2022-06-19 22:23] philipbaginski commented on #221
The same as for Nova fields.

[2022-06-19 22:24] philipbaginski commented on #225
Some data belongs to resource e.g. name of any info from resource table.

Is it possible now to fetch any data from resource table and use it as tabs name?

[2022-06-19 22:26] philipbaginski commented on #225
The reason I'm asking: if you don't have tabs in this place will be shown current resource info. With tabs it is removed and there is fixed name of tags.

[2022-06-19 22:33] marcfilipan commented on #225
You can adjust the panel name of Tabs to anything you wish though, if you want the regular resource name, you can simply do:
’’’
Tabs::make(__(':resource Details: :title', ['resource' => $this->singularLabel(), 'title' => (string) $this->title(),])
’’’

[2022-06-20 06:50] philipbaginski commented on #225
Thank you. I have not seen it in the docs.

[2022-06-26 15:16] aqjw opened #226 "Tabs name not showing"
Tabs name not showing without the `withToolbar` method.
Is there a way to show the tabs name without other actions on the right side?

<img width="1437" alt="Screenshot 2022-06-26 at 18 15 24" src="https://user-images.githubusercontent.com/13101908/175821059-f0cc6d20-7efb-40d0-88a9-4aded2f389c6.png">

[2022-06-26 17:11] aqjw opened #227 "Hide toolbar on relation"
Is it possible to hide the toolbar for relation?
and how to get rid of the panel border?

<img width="1436" alt="Screenshot 2022-06-26 at 20 05 05" src="https://user-images.githubusercontent.com/13101908/175825612-f49f5846-8e3b-4734-b8d7-f3ccb4b47ce5.png">

## Code:
[code]

But if I do like this, nothing changes except the order of the tabs:
[code]

[2022-06-27 11:18] mlopezsti opened #228 "Lost actions on last version"
When install the last version, lost actions on detail.

[2022-06-27 11:20] marcfilipan commented on #226
Please call the showTitle method on Tabs.

[2022-06-27 11:20] #226 closed

[2022-06-27 11:20] #225 closed

[2022-06-27 13:09] marcfilipan commented on #228
Could you possibly post the action that you use?

[2022-06-27 13:24] RVxLab commented on #221
I originally added `showIf` and `showUnless` as requested in #58 and #129. They were meant for more simple checks like user permissions, whether a model exists, or if an existing model has a certain relationship.

However in your example I would just a policy.

[2022-06-27 14:47] mlopezsti commented on #228
what action?, In detail view lost all list actions.

version 2.0.7:

![image](https://user-images.githubusercontent.com/67266571/175968906-7931276a-787f-4f93-9d21-8bc7efd4e2e5.png)

![image](https://user-images.githubusercontent.com/67266571/175969095-56a2ddbc-0b1d-409d-8da7-a2d5cb9e5c15.png)

version 2.0.9:

![image](https://user-images.githubusercontent.com/67266571/175968444-cb56474e-82be-4033-

[2022-06-27 17:09] marcfilipan commented on #228
Call the withToolbar method on Tabs

[2022-06-28 11:58] mikkellindblom opened #229 "HasTabs trait hides relationship panels in Laravel Nova 4.10.1"
Ver. 2.0.9

There seems to be a conflict with Laravel Nova 4.10.1. When adding the HasTabs trait to a resource, relationship panels are hidden on the update/create screens.

<img width="1070" alt="Screenshot 2022-06-28 at 13 53 33" src="https://user-images.githubusercontent.com/5261690/176172731-6f677865-ae05-4fbc-ac18-4e7484b30194.png">

<img width="783" alt="Screenshot 2022-06-28 at 13 53 23" sr

[2022-06-28 12:20] marcfilipan commented on #229
Seems to work fine for me:
<img width="2712" alt="image" src="https://user-images.githubusercontent.com/1815234/176176976-03e9865a-d323-4f56-a23e-b9f19129e1bf.png">

[2022-06-28 12:21] marcfilipan commented on #229
Actually i see now i miss a bunch of tabs, never mind.

[2022-06-28 12:59] marcfilipan commented on #229
Try 2.1.0

<img width="2677" alt="image" src="https://user-images.githubusercontent.com/1815234/176184540-395e4f20-a308-440f-973d-1ed117b46026.png">

[2022-06-28 13:01] marcfilipan commented on #228
Actions never stopped working for me, but perhaps try 2.1.0 and see if they show up for you again

<img width="2677" alt="image" src="https://user-images.githubusercontent.com/1815234/176184876-e5195183-c406-4c8c-8c79-396663609307.png">

[2022-06-28 13:29] marcfilipan commented on #229
With 4.10.1 I seem to have everything back.

Keep in mind, HasMany and MorphMany, shouldn't show up on create/update, that's simply per Nova's design.

<img width="2702" alt="image" src="https://user-images.githubusercontent.com/1815234/176190814-730c885d-a10e-41d7-9b03-eab05601c5bd.png">

[2022-06-28 16:33] mlopezsti commented on #228
I can understand add for example withoutToolbar to hidden action tollbar. Not the other way round

[2022-06-28 16:34] marcfilipan commented on #228
Acting entitled and annoyed won't get you anywhere.

Post the code of your resource so I can look what you're doing wrong.

[2022-06-28 16:35] mlopezsti commented on #228
I publish my code.

on first post

[2022-06-28 16:36] mlopezsti commented on #228
Only read and I wrote my code using your wiki.

[2022-06-28 16:37] marcfilipan commented on #228
Let me rephrase, post the actual code, so I can correct it for you, as you're not calling the withToolbar method.

[2022-06-28 16:43] mlopezsti commented on #228
[code]

[2022-06-28 16:45] marcfilipan commented on #228
[code]

[2022-06-30 08:43] #228 closed

[2022-07-03 17:28] juse-less commented on #227
The toolbar seems to show as part of the `HasOne` relationship.
Can't see it in the others relationships of various types for the same `Resource` I'm currently viewing.
I haven't used any morph-type relationships, though. So one equivalent to `HasOne` could also have the issue.

[2022-07-06 11:47] mikkellindblom commented on #229
It seems to be broken again in 4.11.1 @marcfilipan

[2022-07-06 14:30] baszach opened #231 "Query string is different since Nova 4"
Hi,

I updated this package to be compatible with Nova 4. I've noticed that the URL query string is quite different and more verbose than before.

Before: `tab=documents`
After: `__RESOURCE__: __TITLE__=__TAB_NAME__&__SECOND_TAB_NAME__=__OTHER__`

Is there a reason for that. Would be great to get some input on this :)

Thanks in advance

[2022-07-06 15:29] marcfilipan commented on #231
Yes, the ability to have multiple tabs instances on a single resource.

[2022-07-07 07:03] baszach commented on #231
Okay. I think I was able to have multiple tab instances before, though. Not sure :/

[2022-07-10 03:45] niunaiyi opened #232 "tab's name is not support Chinese?"
new Tabs('投放点详情', [
                '详情'    => [
                    Text::make('名称', 'name')
                        ->sortable()
                        ->rules('required', 'max:20'),
                ],
                '视频' => [
                    HasMany::make('视频','videos',Video::class)
                ],
            ]),

then layout is wrong.

[2022-07-10 10:13] marcfilipan commented on #232
You can always submit a PR that would fix it.

I don't use or know Chinese, so can't help you.

[2022-07-11 22:30] RuslanMak opened #233 "How to show content (Relationship Tabs) if it is collapsed on another page?"
Use with collapsable-relations (https://nova.laravel.com/docs/4.0/releases.html#collapsable-relations)

If I turned off the resource on the one page I don’t see it on another page where I use Tabs
![1](https://user-images.githubusercontent.com/37831442/178369290-651d3ec4-8da3-472a-be44-0e814001d4c7.jpg)
![2](https://user-images.githubusercontent.com/37831442/178369307-f8b6aa19-0090-4d4b-bfd1-58439

[2022-07-19 01:37] jorgeneira commented on #229
on nova 4.12.6 the HasTabs trait actually makes all HasMany relationships dissapear in details view, also with erros in console:

TypeError: Cannot read properties of undefined (reading '0')

[2022-07-20 03:21] chrisbjr commented on #229
Looks like it only works now for Nova v4.10.1. We downgraded to make it work for the meantime because it's broken in Nova v4.12.x.

Thanks

[2022-07-20 06:40] marcfilipan commented on #229
I'll be able to take a look at it at the of the week.

[2022-07-20 13:45] francisacosta opened #234 "Relation resource doesnt show if HasTabs is declared"
I was trying to Tabs some of my Relation resource. the relation resources are hidden if its not in tabs.

[2022-07-22 10:18] cserepesmark opened #236 "Pivot fields not shown"
Using Tabs results in pivot tables not shown. My Percent column is not visible. It is also not included in the XHR request. The field method completely ignored.

[code]

If I do not use Tabs, my Percent field is shown in the Related table.

[code]

[2022-07-22 13:17] marcfilipan commented on #234
@ackermann do you perhaps have time to look into the changes the latest nova version did, which causes relation tabs not to show up any longer?

Thought I'd be able to create some time this week to look into it, but unfortunately that's not possible for another two weeks.

Related issues are:
https://github.com/eminiarts/nova-tabs/issues/236
https://github.com/eminiarts/nova-tabs/issues/229

[2022-07-26 09:47] #231 closed

[2022-08-02 17:14] felipereisdev opened #237 "Is it possible to show the relationships in tabs in the edit form?"
In my tests it only appears on the details screen.

[2022-08-09 14:27] mstaack commented on #234
@marcfilipan i tried going down that nova/trait/fetch panel rabbit hole to find the bug. but man i am lost.

did you have time to look into this?

cheers

[2022-08-11 14:53] Gertiozuni opened #238 "Wrong arguments passed to `Panel.php`"
In [Tabs.php](https://github.com/Gertiozuni/nova-tabs/blob/bcc616863e20522099488285915141b51741c5eb/src/Tabs.php#L60) Panel.php is receiving wrong arguments, resulting in issues, when i combine this package with [nova-settings](https://github.com/outl1ne/nova-settings) package, i get the result below:

![image](https://user-images.githubusercontent.com/26062255/184161075-f30c9913-99e2-44e1-8d5e-b1

[2022-08-12 08:48] #238 closed

[2022-08-14 21:01] mstaack commented on #229
@marcfilipan anything i can do to help fixing this issue?

[2022-08-14 22:54] RVxLab commented on #232
This is more or less a duplicate of #145 and #167

It has to do with `Str::slug` stripping out what I assume to be non-Latin characters.

[2022-08-16 10:23] mstaack commented on #229
@crynobone said this is related to the change in 4.12 `Nova will now retain the user-defined panel sort order.`
![image](https://user-images.githubusercontent.com/10169509/184857320-11246d01-e959-441c-9a1a-9d89ae7163fb.png)

[2022-08-20 11:15] lazerg opened #241 "Impossible to use within Nova Actions"
Hello. Your package is great.

I have a big form in an action and I wanted to use Tabulation.

[code]

After having such action, I am getting this error: `Method Eminiarts\\Tabs\\Tabs::authorizedToSee does not exist.`

[code]

[2022-08-21 05:42] mstaack commented on #241
It's not supposed to be used insight nova actions. Tabs is for resources.

[2022-08-21 06:36] lazerg commented on #241
I know it 😃. But is there any hack to overcome this? Because I need it in actions.

If there is absolutely no way of it, let me know, i will close the issue.

[2022-08-22 07:10] #241 closed

[2022-08-28 16:26] albalooshi commented on #229
@mstaack were you able to solve the issue?

[2022-08-30 12:43] s-fog commented on #229
We are really waiting for you. Thanks!

[2022-08-31 02:05] marcfilipan commented on #229
I have everything updated to latest, and it seems to work fine for me.

I'll try it on a fresh install to see if something goes wrong.

[2022-08-31 15:41] jakelehner commented on #229
I can confirm I'm experiencing the issue on anything above Nova 4.11. Running Laravel 8, PHP 7.4, Nova Tabs 2.1.

When I upgrade Nova to 4.12 or the latest (4.17 I believe), relationship panels no longer display if they aren't wrapped in a tab if the `HasTabs` trait is present.

[2022-09-04 13:36] manuele89 opened #243 "resource in a tab"
Is it possible to show a specific resource in a tab? (example: users tab and the list of users is displayed). How can I do?

[2022-09-06 13:56] dmitrijsmihailovs opened #244 "Possibility to preserve tabs?"
We have such tabs structure

[code]

When we click create/view/edit, for example, in tab 2, it opens the form, but the tabs are missing.
So I am wondering if it is possible to preserve them?

And a suggestion: Would be good to enable Discussions for this repo, so questions like these could be posted there :)

[2022-09-07 12:35] ronnytorresmtz opened #245 "Lost Changes"
I have a resource with multiple tabs when I try to edit the information and the page is opened to edit the first tab is selected but the rest of the tabs when you select them the page is automatically reloaded and this means that if I am modifying a field that is in the first tab and then I click on another field without saving, I lose the modification I was making, is there a way to avoid this?

[2022-09-07 16:49] ianrobertsFF commented on #229
I guess the solution is wrap relationships in a Tab?

I've always had mine wrapped in a Tab and I've not seen this issue once, so it might be worth just updating docs to make that the recommended way of displaying them?

[2022-09-08 08:11] mstaack commented on #229
@marcfilipan the issues happens when the relations are not within a tab.
try reproducing this as soon as you can ;)

[2022-09-08 09:39] crynobone commented on #229
Can anyone tests this fix: https://github.com/eminiarts/nova-tabs/pull/247

[2022-09-08 10:25] marcfilipan commented on #244
HasMany doesn't show up on edit. That's due to Nova's design.

I don't require it myself, but if you want to make a PR to make it optionally available, you're welcome to do so.